
/* Visualizer module
**************************************/
.visualizer-module {padding-top:0}
.image-article {width:80%; height:575px;  margin:0 auto; position:relative; padding:15px; text-align:center; z-index: 1}
.image-article .img {height:575px; /*-webkit-box-shadow: #666 0px 0px 20px; 
                     -moz-box-shadow: #666 0px 0px 20px;
                     box-shadow: #666 0px 0px 20px;
                     behavior: url(PIE.htc); */}

/* Overlay
**************************************/
#overlay {border:1px solid #8d8d90; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; padding:10px; position:absolute; left:80px; top:-70px; background-color:#fff; z-index:9999; min-width:470px; max-width:1000px; height:550px; display:none}
#overlay .ui-widget-content {position: relative}
#overlay h1 {margin-bottom:5px}
.select-style, .select-fabric {width:350px;}
.tab-article {border-bottom:1px solid #b1b1b1; padding-bottom:0px; margin-bottom: 10px}
.tab-article a {color:#6d6e71; font-weight:bold; font-size:12px; display:inline-block; line-height:28px}
.tab-article a.active {text-decoration:underline}
.tab-btn {margin-bottom:-1px}
.tab-btn li {width:27px; height:28px; text-indent:-9999px; background:url(../images/sprite.png) -125px 0 no-repeat; cursor:pointer}
.tab-btn li a {display:block; height:28px}
.tab-btn li.active {border:1px solid #b1b1b1; border-bottom-color:#fff; margin-bottom:-1px}
.tab-btn li.list-view {background-position:-168px 0}

.box-arrow {width:20px; height:28px; background:url(../images/sprite.png) -200px -38px no-repeat; display:inline-block; position:absolute; left:-18px; top:110px}
.box-drag {width:15px; height:170px; background:url(../images/sprite.png) right top no-repeat; display:inline-block; position:absolute; right: -13px; top:50%; margin-top:-85px; cursor:pointer}
.box-drag.right-wid{width: 50px; height: 50px; padding: 0px 2px; border: 1px solid #8D8D90; margin-top: -35px; left:-55px !important; border-right:none; background-position: 6px -293px !important; background-color: #fff;  border-radius: 8px 0 0 8px;  -moz-border-radius: 8px 0 0 8px;  -webkit-border-radius: 8px 0 0 8px;}
.right-widget #overlay {left:auto !important; position: fixed; right:0; top:0; bottom:10px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; height: auto}
.right-widget .box-arrow {left:auto; right:-16px; background-position:-230px -39px; top:96px}
.right-widget .box-drag  {right:auto; left:-8px; background-position:-447px 0}

.left-widget #overlay{min-width: 360px; width:360px}

.tab-listing {clear:left; height:100%; position: absolute; width: 98%}
.right-widget #overlay .listing-table {overflow:auto; height:85%; border:0px solid red; padding:0 0px 0 5px}
.listing-table .listing {width:166px; height:115px;/* -webkit-box-shadow: #666 0px 0px 8px;
                         -moz-box-shadow: #666 0px 0px 8px;
                         box-shadow: #666 0px 0px 8px;
                         behavior: url(PIE.htc); */text-align:center; background-color:#fff; margin:0 10px 10px 0}
.right-widget .listing-table .listing {width:208px}
.listing-table .listing .style-img {width:100%; overflow: hidden; height: 115px}
.listing-table .listing .style-img img.img{width:100%; min-height: 115px}
.listing-table .listing.last {margin-right:0}

.pagination {clear:left; line-height:25px; padding-right: 15px}

/* Select Fabric */
.select-fabric .listing-table .listing {padding:4px 3px; border:1px solid #c8c9cb; -webkit-box-shadow: #666 0px 0px 0px;
                                        -moz-box-shadow: #666 0px 0px 0px;
                                        box-shadow: #666 0px 0px 0px; background-color:#f3f3f4; height:129px; margin:0 6px 10px 0; overflow:hidden}
.select-fabric .listing-table .listing .listing-img {width:100%; height:93px; overflow: hidden}
.select-fabric .listing-table.lsit-view .listing .listing-img {width:50%; height:90px; overflow: hidden; float:left}
.select-fabric .listing-table.lsit-view .listing .info h3.prd-title {padding-bottom: 10px; height:44px}
.select-fabric.fabric-fullview .listing-table.lsit-view .listing .info h3.prd-title {padding-bottom: 0}

.fabric-fullview.select-fabric .listing-table .listing .listing-img {width:100%; height: 195px; overflow: hidden}
.fabric-fullview.select-fabric .listing-table .listing .listing-img img.img {max-height: 500px; width: 100%}
.select-fabric .listing-table .listing .listing-img img{width: 100%;}

.select-fabric .listing-table .listing.last {margin-right:0 !important}
.ftr-slider .info-icon,
.select-fabric .info-icon,
.ftr-slider .color-icon,
.select-fabric .color-icon,
.ftr-slider .catlg-icon,
.select-fabric .catlg-icon, .delete-icon, .delete-icon-storyboard, .cart-icon {width:51px; height:40px; display:inline-block; background:url(../images/sprite.png) -275px 0 no-repeat #f3f3f4; border-right:1px solid #c8c9cb; float:left}
.select-fabric .info-icon a,
.ftr-slider .info-icon a,
.select-fabric .color-icon a,
.ftr-slider .color-icon a,
.select-fabric .catlg-icon a,
.ftr-slider .catlg-icon a, .delete-icon a, .delete-icon-storyboard a
{display:block; height:40px}
.ftr-slider .color-icon, .select-fabric .color-icon {background-position:-328px 0; text-align: center; font-size: 20px;font-weight: bold;line-height: 36px;}
.select-fabric.fabric-fullview .listing-table.lsit-view .listing .color-icon a  {float: none; display: block}
.ftr-slider .catlg-icon, .select-fabric .catlg-icon {background-position:-378px 0; }
.ftr-slider .catlg-icon, .select-fabric .cart-icon {background-position:-375px -91px; }
.select-fabric .cart-icon.selected {background-position:-375px -138px}
.ftr-slider .catlg-icon, .select-fabric .catlg-icon.selected {background-position: -378px -42px;}
.delete-icon, .delete-icon-storyboard {background-position:10px -395px}
.delete-icon-storyboard{float: right;}
.select-fabric .listing-table.lsit-view .listing {width:440px; text-align:left; height:90px; margin-bottom:10px; border:0}
.select-fabric .listing-table.lsit-view .listing .info {float:right; width:48%;}
.listing-table.lsit-view .listing h3.prd-title {height:28px; font-weight:normal; font-size:12px; color:#333}
.cart-parent-span {position:relative; display: inline-block; float: left; height: 40px; width: 51px}
.cart-parent-span span.prd-qry {display:block; position:absolute;/* left:0; */top:-30px; background-color:#F3F3F4; height:30px; padding:5px}
.cart-parent-span span.prd-qry input {width:100%; height: 25px; text-align:center; border:1px solid #ccc; padding:0; margin:0}
.brd-none .add-to-cart {border-right:0}


/* Select FAbric Full view
*******************************************************************************/
.select-fabric.fabric-fullview {width:1000px}
.select-fabric.fabric-fullview .listing-table .listing {width:23.5%; position:relative; height:166px}
.select-fabric.fabric-fullview .listing-table .listing .info {float:right; position:absolute; right:0; bottom:0}
.select-fabric .fabric-filter input, .select-fabric .fabric-filter select {width:128px; float: left; letter-spacing:auto; padding:3px 1px; color:#303031; font-size:11px; text-transform:uppercase}
.select-fabric.fabric-fullview .fabric-filter span {display:inline-block; font-size:11px;}
.select-fabric .filter-fullview {display:none}
.select-fabric.fabric-fullview .filter-fullview {display:block}

.ftr-slider .listing-table.lsit-view .listing, .select-fabric.fabric-fullview .listing-table.lsit-view .listing {width:318px; height:140px; margin-bottom:10px; padding:0; position: relative}
.ftr-slider .listing-table.lsit-view .listing {width:200px}
.select-fabric.fabric-fullview .listing-table.lsit-view .listing a {display:block}
.select-fabric.fabric-fullview .listing-table.lsit-view .listing .listing-img {width:105px; height:140px; overflow: hidden; background-color:#fff}
.ftr-slider .listing-table.lsit-view .listing .info, .select-fabric.fabric-fullview .listing-table.lsit-view .listing .info {width:208px; float:right; height:135px; position:relative; font-size:12px; text-transform:uppercase; padding-top:5px; overflow:hidden}
.ftr-slider .listing-table.lsit-view .listing .info {height:37px; bottom:0; position:absolute; right: 0; width:155px}
.select-fabric .listing-table .listing .info .list-info {display:none}
.select-fabric.fabric-fullview .listing-table.lsit-view .listing .info .list-info{text-transform:capitalize; margin:0; padding:5px 5px 10px 0; line-height:18px; display:block; letter-spacing:0; min-height: 63px}
.ftr-slider .listing-table.lsit-view .listing .info .info h3, .select-fabric.fabric-fullview .listing-table.lsit-view .listing .info h3{color:#333; height:18px}

.ftr-slider .listing-table {height:auto; padding:0;}
.ftr-slider .listing-table .listing {text-align:left; background-color:#e7e7e8 !important; -webkit-box-shadow: #666 0px 0px 0px;
                                     -moz-box-shadow: #666 0px 0px 0px;
                                     box-shadow: #666 0px 0px 0px;}
.ftr-slider .listing-table.lsit-view {text-align:left; position: absolute; top: 0 !important; min-width: 1000px;}
.ftr-slider .listing-table.lsit-view .listing .info .list-info {display:none}
.ftr-slider .listing-table.lsit-view .listing h3.prd-title {height:95px}

.ftr-slider .listing-table .listing .listing-img {width:100%; height:140px; overflow: hidden; float:left}
.ftr-slider .listing-table .listing .listing-img img {min-width: 100%}

/* Select Style Full view
*******************************************************************************/
.select-style.style-fullview {width:1000px}



/* popup module
*********************************/
.dialog {width:1100px; position:absolute !important}
.popup-module .product-img img {width:100%; min-height:380px}
.zoom-artical {height:380px; overflow: hidden}
.popup-module .halfwid {margin-bottom:10px}
.popup-module .product-img {height:380px; overflow: hidden; text-align: center}
.popup-module .fr.halfwid {width:48% !important}
.popup-module h1 {margin-bottom:10px}
.prd-info h3 {font-size:28px; font-weight:normal; margin:10px 0 15px 0}

.pop-table th, .pop-table td {text-align: left}

.color-gallery li {margin:0 10px 10px 0; width:145px; height:100px; overflow:hidden}
.color-gallery img.img {width:100%; min-height:100px}

.prd-atrb li {background:url(../images/sprite.png) -492px -195px no-repeat; padding:0 0 0 15px}
.prd-atrb li span.deactive {color:#aaa; display:block}

#accordion {margin-top:20px; height:240px; margin-bottom:10px}
#accordion h3 {font-weight:normal; font-size:13px; background:url(../images/header_line2.gif) left bottom no-repeat; padding-bottom:3px; margin-bottom:3px; cursor:pointer}
#accordion h3 span {background:url(../images/plus_icon.png) 98% top no-repeat; display:block}
#accordion h3.ui-accordion-header-active span {background:url(../images/plus_icon.png) 98% -41px no-repeat}
#accordion .panel {height:125px; overflow:auto; text-transform:capitalize; letter-spacing:normal; font-size:12px}

.ftr-slider {width:80%; float:left; position:relative; overflow: hidden; height: 160px;}
.catlg-property,.story-property {width:18%}
.catlg-property .icons, .storyborad-property .icons {line-height:50px}
.catlg-property h1, .storyborad-property h1 {font-size:15px !important; margin-bottom:0 !important; background-image:none !important; padding-bottom:0}
.story-property .icons, .storyborad-property .icons {line-height:50px}
.story-property h1, .storyborad-property h1 {font-size:15px !important; margin-bottom:0 !important; background-image:none !important; padding-bottom:0}

#canvaspreloader{height: 66px;
                 left: 50%;
                 margin: -33px 0 0 -33px;
                 position: absolute;
                 top: 50%;
                 width: 66px;}

.cataloge-options, .storyboard-options{padding:0px 10px 5px; border-bottom:4px solid #bdbec1; margin-top:-5px; margin-bottom:5px;}
.cataloge-options h3, .storyboard-options h3{font-size:14px; font-weight:normal; display:inline-block;}
.catelogue-title, .storyboard-title{width:300px; padding:0 10px; border:1px solid #bdbec1; height:22px;}
.catelogue-option-btn{font-size:15px; font-weight:bold; padding:0 0 0 20px; margin:0 10px; height:20px; line-height:20px; display:inline-block; background:url(../images/save-cate.png) 0 0 no-repeat;}
.scroll-container{display:inline-block; width: 100%; height: 145px; position: relative; overflow:hidden; margin-left: 24px;}
.scroll-container li{margin-top:10px;}
.browse{height:140px; z-index: 999; top: 0 !important; background:#bdbec1 url(../images/arrow.png) center center no-repeat; width:18px; display:block; margin:0 0px 0 0;  text-indent:-99999px; overflow:hidden; position:absolute; cursor:pointer;}
.right{right:0;}
.left{left:0;}
.browse.next{background-image:url(../images/arrow2.png);}
.select-search{/*background: url(../images/grey-g-bg.gif) repeat-x scroll left bottom rgba(0, 0, 0, 0);*/
    border: 1px solid #E2E2E2;
    float: left;
    padding: 0; height:21px; position:relative; margin:0 5px 5px 0}
.select-search:hover .option-list-ul{display:block;}
.select-search .select-opiton {
    cursor: pointer;
    float: left;
    font-size: 11px;
    overflow: hidden;
    padding: 0 0 0 5px;
    white-space: nowrap; text-transform:capitalize; text-shadow: 1px 1px 0 #fff;
    width: 80px; line-height:21px;
}
.select-search .select-arrow {
    background: url(../images/sprite.png) -38px -485px no-repeat;
    cursor: pointer;
    float: left;
    height: 21px;
    width: 15px;
}
.option-list-ul{display:none; width:200px; height:200px; overflow:auto; background:#fff; border:1px solid #ddd; font-size:11px; text-transform:capitalize; position:absolute; top:21px; z-index: 9999}
.option-list-ul li{padding:0 10px; height: auto;
                   line-height: normal; text-transform: uppercase}
.option-list-ul .nameValue {
    color: #666666;
    cursor: pointer;
    float: left;
    font-size: 11px;
    font-weight: normal; text-transform:capitalize;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 0 0 0 5px;
    width: 85px;
}
.option-list-ul .ui-button-text-only{background-position: left 10px;}
.option-list-ul .ui-button-text-only.ui-state-active{background-position:left -83px}
.refresh-btn{width: 20px; height: 20px; display: inline-block; margin: 0 5px; padding: 0; background: url(../images/sprite.png) -83px -40px no-repeat; text-indent: -9999px; overflow: hidden;}
.tags {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #E1E1E1;
    color: #AAAAAA;
    display: block;
    float: left;
    font-size: 11px;
    margin: 3px;
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ui-widget-overlay.ui-front {
    background: url(../images/overlay.png) 0 0 repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}
.panel.ui-tabs-panel{background-color: #F3F3F4;   height: 175px;
                     overflow: hidden;
                     padding: 10px;}
.panel.ui-tabs-panel.surfaces-article {height: 90px}
/*
*
*---------------------- Tooltip Css ----------- 
*/
/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
    border-radius: 5px; 
    border: 2px solid #000;
    background: #4c4c4c;
    color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
    /* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
    cursor: help;
    margin-left: 4px;
}








/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
    padding: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 9999999;
    pointer-events: none;
    width: auto;
    overflow: visible;
}
.tooltipster-base .tooltipster-content {
    overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
    display: block;
    width: 0; 
    height: 0;
    position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-center span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-top: 8px solid;
    bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-center .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-top: 9px solid;
    bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-bottom: 8px solid;
    top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-bottom: 9px solid;
    top: -7px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-center span, .tooltipster-arrow-top .tooltipster-arrow-border,  .tooltipster-arrow-top-center .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
    left: 0;
    right: 0;
    margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
    left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
    left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
    right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
    right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important; 
    border-left: 8px solid;
    top: 50%;
    margin-top: -7px;
    right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important; 
    border-left: 9px solid;
    margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important; 
    border-right: 8px solid;
    top: 50%;
    margin-top: -7px;
    left: -7px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important; 
    border-right: 9px solid;
    margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
.tooltipster-fade-show {
    opacity: 1;
}

.tooltipster-grow {
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -o-transform: scale(0,0);
    -ms-transform: scale(0,0);
    transform: scale(0,0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
    opacity: 0;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -o-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    transform: rotateZ(4deg);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
}
.tooltipster-swing-show {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
    -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
    -moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
    -ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
    -o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
    transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
    top: 0;
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    -ms-transition-property: top;
    transition-property: top;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    top: 0px !important;
    opacity: 0;
}

.tooltipster-slide {
    left: -40px;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    -ms-transition-property: left;
    transition-property: left;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    left: 0px !important;
    opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
    opacity: 0.5;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.my-custom-theme {
    border-radius: 5px; 
    border: 2px solid #000;
    background: #00FF00;
    color: red;
}

.my-custom-theme .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}
/** custom tool tip **/

.tip_blue {
    border: 2px solid #27AAE1;
    background: #27AAE1;
    border-radius: 5px; 
    color: #FFF;
    width:200px;
    text-align:center;
}

.tip_green {
    border: 2px solid #8DC63F;
    background: #8DC63F;
    border-radius: 5px; 
    color: #FFF;
    width:200px;
    text-align:center;
}

.tip_orange {
    border: 2px solid #F7941E;
    background: #F7941E;
    border-radius: 5px; 
    color: #FFF;
    width:200px;
    text-align:center;
}

.tip_blue .tooltipster-content, .tip_green .tooltipster-content, .tip_orange .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}

.fabric-choose{border: 1px solid #333333;
               display: block;
               float: right;
               height: 30px;
               margin: -38px 0 0 -30px;
               width: 30px; background-position: 0 0; background-repeat: no-repeat;
               background-size:30px 30px;}

.email-container table td{padding: 10px;}
.email-container table td input{height: 28px; padding: 0 10px; backface-visibility: #e1e1e1; border: 1px solid #ddd; }
.email-container table td label{color: #333; }
.ui-dialog-buttonset button{background: #B41E22; color: #fff; padding: 3px 10px; border: 1px solid #b20a18;}
#fabric-tabs-style .maketabs.listing-table {
    height: 485px;
    overflow: auto;
}

@media only screen and (min-width:1024px) and (max-width:1300px) {
    #overlay {height:450px; max-width:800px; top:-30px}
	.right-widget #overlay.fabric-fullview .lsit-view .color-icon {display:none}
    .image-article, .image-article .img {height:465px}
    .box-arrow {top:75px}
    .right-widget #overlay {max-width:900px}
    .select-fabric.fabric-fullview .listing-table .listing {width:23%}
    .right-widget #overlay .listing-table {height:80%}
    .ftr-slider .listing-table.lsit-view .listing, .select-fabric.fabric-fullview .listing-table.lsit-view .listing {width:287px; height:120px}
    .select-fabric.fabric-fullview .listing-table.lsit-view .listing .listing-img {width:120px; height: 120px}
    .select-fabric.fabric-fullview .listing-table.lsit-view .listing .info .list-info {min-height: 40px}
    .ftr-slider .listing-table.lsit-view .listing {width:285px}
    .ftr-slider .listing-table .listing .listing-img {width:110px; height:100px}
    .panel.ui-tabs-panel {height:130px}
    .scroll-container, .ftr-slider {height: 100px}
    .ftr-slider .listing-table.lsit-view .listing h3.prd-title {height: 56px}
    .ftr-slider .listing-table.lsit-view .listing {height:101px}
    .browse {height:101px}
    .catlg-property h1 {font-size: 12px !important}

    #fabric-tabs-style .maketabs.listing-table {
        height: 365px;
        overflow: auto;
    }
}

@media only screen and (min-width:1301px) and (max-width:1599px) {
    .right-widget #overlay .listing-table {height:81%}
    #overlay {height:420px}
    .image-article, .image-article .img {height:465px}
    .listing-table .listing {height:150px}
    .listing-table .listing .style-img img.img, .listing-table .listing .style-img {min-height: 150px; width: 100%;}

    #fabric-tabs-style .maketabs.listing-table {
        height: 365px;
        overflow: auto;
    }
}



/* #### Mobile Phones Landscape #### */
@media screen and (max-width: 1024px) {
    /* some CSS here */
    .tab-panel li {margin-right:10px; min-width:160px}
    #overlay {top:-66px; height:390px}
	.select-fabric.fabric-fullview .listing-table.lsit-view .listing .info {width:160px}
    .listing-table {height:370px}
    .select-fabric .listing-table .listing {margin:0 5px 5px 0; width:208px}
    .image-article {width:80%; height:450px; overflow:hidden}
    .image-article .img {max-width:100%; max-height:450px}
    #fabric-tabs-style .maketabs.listing-table {
        height: 300px;
        overflow: auto;
    }
    .fabric-fullview.select-fabric .listing-table .listing .listing-img, .select-fabric.fabric-fullview .listing-table .listing {height:125px}
    .select-style .listing-table .listing {width:47%}
    .select-style.style-fullview .listing-table .listing {width:23.5%}
    .select-style .listing-table .listing, .listing-table .listing .style-img {height:150px}
    .ftr-slider .listing-table.lsit-view .listing, .ftr-slider .listing-table .listing .listing-img {width:155px}
    .ftr-slider .listing-table .listing .listing-img img {min-width:100%}
    .ftr-slider .listing-table.lsit-view .listing .info {width:155px; bottom: 0; height: 39px; position: absolute;}
}
/* #### Mobile Phones Portrait #### */
@media screen and (max-width: 768px){
    /* some CSS here */
    .tab-panel {padding-left:10px}
    .left-widget {top:70px}
    .tab-panel li {margin-right:10px; min-width:160px}
    #overlay {height:450px; top:0px; width: 89%}
    .right-widget .listing-table .listing {height:160px; overflow:hidden; width:157px}
	.select-fabric.fabric-fullview .listing-table.lsit-view .listing .info {width:210px}
    .listing-table {height:355px}
    .listing-table .listing .img {height:155px; max-width:100%}
    #header-section {height:160px}
    #fabric-tabs-style .maketabs.listing-table {
        height: 365px;
        overflow: auto;
    }
    .widget li.icon-btns {padding:2px}
    .ftr-slider .listing-table.lsit-view .listing, .ftr-slider .listing-table .listing .listing-img {width:155px}
    .ftr-slider .listing-table .listing .listing-img img {min-width:100%}
    .ftr-slider .listing-table.lsit-view .listing .info {width:155px; bottom: 0; height: 39px; position: absolute;}
    .catlg-property h1 {font-size: 12px !important}
    .search-field .search-textfield {width:89%;  padding: 0 5px;}
    .search-field .search-textfield {font-size: 16px}
    .select-fabric.fabric-fullview .listing-table .listing {width:30.5%; heigh:130px}
    .fabric-fullview.select-fabric .listing-table .listing .listing-img {height:130px}
    .right-widget .box-drag {display: none}
    .popup-module .halfwid, .popup-module .fr.halfwid {width:90% !important; margin:20px}
    h1.logo {margin-left:65px}
    .select-fabric .listing-table.lsit-view .listing {width:47.5%}
    .select-fabric .info-icon, .select-fabric .color-icon, .select-fabric .catlg-icon, .delete-icon {width:41px}
    .select-fabric .info-icon {background-position: -280px 0}
    .select-fabric .color-icon {background-position: -332px 0}
    .select-fabric .catlg-icon {background-position: -383px 0}
    .select-fabric .listing-table .listing .listing-img {height:125px}
    .image-article .img {max-width: 100%; height:auto}
    .ui-dialog.dialog {width:95% !important}
}

/* cart css
******************************/
.order-table {width:80%; margin: 0 auto; margin-top: 60px; -webkit-box-shadow: #aaa 0px 0px 20px;margin-bottom: 60px;
              -moz-box-shadow: #aaa 0px 0px 20px;
              box-shadow: #aaa 0px 0px 20px; padding: 15px; min-width: 800px; min-height: 400px}
.login-section{width:520px; margin:0 auto; -webkit-box-shadow: #aaa 0px 0px 20px;margin-bottom: 60px;
              -moz-box-shadow: #aaa 0px 0px 20px;
              box-shadow: #aaa 0px 0px 20px; padding: 15px; margin-top:100px}
.order-table.login-section .login-box{width: 100%}
.login-box-container .order-tablular{width:80%; margin: 0 auto; margin-top: 60px; -webkit-box-shadow: #aaa 0px 0px 20px;
                                     -moz-box-shadow: #aaa 0px 0px 20px;
                                     box-shadow: #aaa 0px 0px 20px; padding: 15px;}


.login-box-container {
    /*    float: left;*/
    margin: 0 auto;
    width: 630px;
}
.table-module {border:1px solid #ddd}
.table-module .qty {padding: 3px; text-align: center}
.table-module tr td {border-top:1px solid #ddd}
.table-module td {padding: 5px}
.table-module th {text-align: left; background-color: #666; padding:10px 5px; color:#fff}
.total-price {margin-top: 10px; border:1px solid #ddd; margin-bottom: 15px}
.total-price ul li {padding:15px; font-weight: bold; font-size: 21px; background-color:#fff; color:#B41E22}

.btn-mini span {
    background: url(../images/icons_sprite.png) 0 0 no-repeat;
    display: block;
    height: 20px;
    line-height: 0;
    width: 20px;
    text-indent: -9999px
}
.btn-mini span.delete-btn {background-position:-24px 0}
.cart-btn {text-align: right}
.default-btn {background-color: #777777; color:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; 
              padding:7px 10px !important; font-size: 14px; border:0; display:inline-block; text-transform: uppercase; margin-bottom: 10px !important
                  padding:7px 10px !important; font-size: 14px; border:0; display:inline-block; text-transform: uppercase; margin-bottom: 10px;
}
.cart-btn .default-btn:hover, .cart-btn a.default-btn:hover {color:#fff !important; background-color: #666}
.org-btn.default-btn {background-color: #B41E22}
.org-btn.default-btn:hover {background-color: #B41E22 !important}
a.org-btn:hover {color:#fff !important}
.header-right {padding:5px 20px; font-size: 12px; background-color:#b41e22; color:#000; margin:0 20px 0 0; -webkit-border-radius:0 0 8px 8px; -moz-border-radius:0 0 8px 8px; border-radius:0 0 8px 8px}
.header-right .user-myaccount {display: block; padding:0; color:#000}
.header-right .user-myaccount a {color:#000; font-weight: normal;  padding-right: 0; font-size:11px}
.header-right .user-myaccount.drop:hover .dropdown{display: block;}
.header-right .user-myaccount.drop a{background:url(../images/arrow-desc.png) right top no-repeat; padding-right: 20px;}
.header-right .user-myaccount.drop .dropdown{background: #B41E22; padding: 5px; position: absolute; display: none; min-width: 150px; z-index: 999}
.header-right .user-myaccount.drop .dropdown .user-myaccount{float: none; border-bottom: 1px solid #B41E22; padding: 0;}
.header-right .user-myaccount.drop .dropdown .user-myaccount:hover{background: #fff;}
.header-right .user-myaccount.drop .dropdown .user-myaccount:last-child{border: none;}
.header-right .user-myaccount.drop .dropdown .user-myaccount a{color: #fff; background: none; padding: 5px 10px; display: block;}
.header-right .user-myaccount.drop .dropdown .user-myaccount:hover a, .header-right .user-myaccount.drop .dropdown .user-myaccount a:hover{color: #B41E22 !important;}
.login-box {
    display: block;
    width:44%; float:left;
    position: relative;

}
.register-box {float:right; width:48%; border-left:1px solid #ddd; padding:0 0 0 25px}
.login-form {

    clear: both;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 20px;
    position: relative;

}
.login-form label {
    color: #555555;
    float: left;
    font-weight: normal;
    min-width: 160px;
}
.login-form span{float: left;}
.login-form a {
    color: #555555;
}
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 20px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 60%;
}
.form-control:focus {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #EEEEEE;
    cursor: not-allowed;
    opacity: 1;
}
textarea.form-control {
    height: 80px;
}
.form-group {
    position: relative;
    margin-bottom: 20px;
} 
.login-form.social {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #0074B5;
    padding: 10px 20px;
}
.login-form.social img{vertical-align: middle;}

.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442; display: block;
}
.success {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d; display: block;
}
.myaccount .form-group{width: 50%;}
.cart-empty {text-align: center; padding:100px 0 0 0}
.cart-empty .default-btn {margin-top: 25px}
.form-control.mini{margin-bottom: 15px;}
.order-table.billing-add{min-width: 560px; width: 30%;}
span.icons.home-icon{background: url(../images/home-icon.png) 0 0 no-repeat;}
.order-table.billing-add{min-width: 560px; width: 30%;}
.my-profile{width: 40px; height: 40px; padding: 5px; border:1px solid #ddd;  vertical-align: top;}
.btn-mini .pdf-icon{background: url(../images/download-pdf.png) 0 0 no-repeat !important; background-size:cover;}
.btn-mini .email-icon{background: url(../images/email-pdf.png) 0 0 no-repeat !important; background-size:cover;}
.btn-mini{display: inline-block; width: 20px; height: 20px; margin: 0 5px; vertical-align: middle;}
.form-control.qty{display: inline-block; float: none;margin-right: 15px;padding:0px;vertical-align: middle;width: 40px;}
.cart-count:before{content: url(../images/cart-icon.png); width: 20px; height: 16px; float: left;}
.coupan-error{background-color: #F2DEDE;
              border: 1px solid #EBCCD1;
              border-radius: 4px;
              color: #A94442;
              display: inline-block; margin: 0 15px;
              margin-bottom: 20px;
              padding: 7px 15px; }

/*.storyboard-options {
    width: 235px; float: right;
}*/
.catelogue-option-btn.save-storyboard {
    margin: 0;
    padding: 0;
}
#available_color_coll .ui-state-default{width: 47%; float: left; padding: 5px;}
#available_color_coll .ui-state-default:first-child{margin-right: 35px;}
/*#available_color_coll .ui-state-default:last-child{width: 45%;}*/

.cart-icon.add-to-cart-details {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin-right: 10px;
    width: auto;
}

.steps-module {width:700px; margin:0 auto; padding:45px 0}
.steps-module h2 {text-transform:uppercase; color:#000; font-size:18px; line-height:23px; background-image:none}
.steps-module h2 span.red {display:block; color:#b41e22; font-size:14px}
.steps-module .steps-li {cursor:pointer}
.cursor-pointer {cursor:pointer}
.steps-arrow {width:40px; background:url(../images/arrow-steps.png) center 22px no-repeat; height:100px; }
.steps-module li.deactive-steps {opacity:0.5; filter:alpha(opacity=50); cursor:text}
.color-panel {text-align:center; width:100%; padding:25px 0 0 0}

/*Background Slider*/

.slidesjs-pagination{display: none;}
.slidesjs-navigation{position: absolute; top: 50%; height: 156px; width:78px; text-indent: -99999px; z-index: 999; margin-top:-65px;}
.slidesjs-previous{left:70px; background: url(../images/left-arrow.png) 0 0 no-repeat;}
.slidesjs-next{right: 70px; background: url(../images/right-arrow.png) 0 0 no-repeat;}

.language-module {padding:0 10px}
.select-lng, .currency-country {background:transparent; border:1px solid #000; font-size:11px; padding:4px}
#available_color_coll{background: #e1e1e1; padding: 5px; display: block;} 
#available_color_coll .ui-tabs-active{background: #fff;}
#available_color_coll .prd-info{background: #fff; padding: 10px; float: none !important;}
#available_color_coll .prd-info:after, color-gallery:after{clear:both; visibility: hidden; display: block; content: ""; height: 0px;}
.display-none{display:none;}


/* Custom Scroller
***************************/
.custom-scroller{
    overflow: auto;
    position: relative;
    max-width: 100%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.surface-img .delete-x {margin:4px 0 0 3px; display:none}
.surface-img:hover .delete-x {display:block}


#positionButtonDiv {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(58, 56, 63);
    /* RGBa with 0.6 opacity */
    background: rgba(58, 56, 63, 0.8);
    border: solid 1px #100000;
    color: #FFFFFF;
    padding: 8px;
    text-align: left;
    position: absolute;
    right: 35px;
    top: 190px;
	z-index:99999
}
#positionButtonDiv .positionButtonSpan img {
    float: right;
    border: 0;
}
.positionMapClass area {
    cursor: pointer;
}
.zoomButton {
    border: 0;
    cursor: pointer;
}
/*.zoomableContainer {
    background-image: url("../images/transparent.png");
}*/


#imgContainer {position: fixed; z-index: 9999; left: 20px; top:20px; background-color: #fff; padding:0; right:20px; bottom:20px}
.mask {background-color: #000; position: fixed; left:0; top:0; bottom:0; right:0; opacity: 0.8; filter:alpha(opacity=80); z-index: 8888}

#style-grid-view {
    height: 320px;
    overflow: auto;
}