body{font-family:Arial, Helvetica, sans-serif; color:#6d6e71; font-weight:normal; line-height:18px; font-size:13px; text-transform:uppercase; letter-spacing:1px}

h1 {font-size:14px; font-weight:bold; color:#78797c; text-transform:uppercase; background:url(../images/header_line.gif) left bottom no-repeat; padding-bottom:5px; margin-bottom:20px}
h2 {font-size:14px; font-weight:normal; color:#818285; background:url(../images/header_line2.gif) left bottom no-repeat; padding-bottom:5px; margin-bottom:5px; display:block}

.blue-color {color:#25aae1}
.brd-none {border:0 !important}

/* Header
**************************************/
#header-section {background-color:#6d6e71; border-top:10px solid #25aae1; height:80px}
h1.logo {font-size:35px; font-weight:bold; text-transform:uppercase; margin:30px 0 0 50px; background-image:none}
h1.logo a {color:#fff}
h1.logo a:hover {color:#25aae1}

/* Body text
**************************************/
.left-widget {position:fixed; left:0; top:180px; z-index:999}
.right-widget {position:fixed; right:0; top:180px; z-index:999}
.widget li.icon-btns {width:50px; border:1px solid #d0d0d3; margin-bottom:10px; padding:10px; background-color:#fff; -webkit-border-radius:0 8px 8px 0; -moz-border-radius:0 8px 8px 0; border-radius:0 8px 8px 0}
.right-widget .widget li.icon-btns {-webkit-border-radius:8px 0 0 8px; -moz-border-radius:8px 0 0 8px; border-radius:8px 0 0 8px}
.widget li.icon-btns span.icons {width:50px; height:50px; display:block; background:url(../images/sprite.png) 0 0 no-repeat; text-indent:-9999px; border:0px solid blue}
.widget li.icon-btns span.icons.style-icon {height:80px}
.widget li.icon-btns span.icons.share-icon {background-position:0 -85px}
.widget li.icon-btns span.icons.pdf-icon {background-position:0 -140px}
.widget li.icon-btns span.icons.email-icon {background-position:0 -195px}
.widget li.icon-btns span.icons.storyB-icon {background-position:0 -245px}
.widget li.icon-btns span.icons.fabric-icon {background-position:0 -295px}

/* filter
**************************************/
#filter-module {width:900px; margin:0 auto; padding-top:100px}
.search-field {width:100%; border:1px solid #919194; color:#7e7f82; padding:10px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; float:left; margin-bottom:40px}
.search-field .search-textfield {color:#7e7f82; text-transform:uppercase; border-right:1px solid #919194; border-width:0 1px 0 0; height:30px; padding:5px; font-size:21px; font-weight:bold; width:93%; float:left}
.search-field .search-btn {background:url(../images/sprite.png) -80px 0px no-repeat; width:30px; height:30px; border:0; padding:0; margin:0; overflow:visible; border:0px solid red; margin:5px 0 0 0; float:right; cursor:pointer}
.filter-list {margin-bottom:50px; display:block; width:100%; float:left}
.filter-list .filter-colm {width:120px; text-transform:uppercase; margin-right:10px}
.filter-list .filter-colm span {display:block; background:url(../images/box.png) left 8px no-repeat; letter-spacing:1px; font-size:12px; padding:3px 0 3px 15px}
.filter-list .filter-colm.last {margin-right:0 !important}
.filter-list .filter-colm a {color:#818285}
.filter-list .filter-colm span:hover {background-position:left -25px}
.search-article {float:right; background-color:#25aae1; color:#fff; padding:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px}
/*.search-article .search-field2 {bordeR:0px solid red; padding:0; height:20px; background:transparent; color:#fff; float:left; border-right:1px solid #1f4756}*/
.search-article .search-field2 {bordeR:0px solid red; padding:0; height:20px; background:transparent; color:#fff; float:left; border-right:0px solid #1f4756}
.search-article .search-btn {background:url(../images/sprite.png) 0 -363px no-repeat; width:20px; height:20px; float:right; margin:0 0 0 5px; cursor:pointer; border:0}

/* Footer Panel
**************************************/
#footer {position:fixed; left:0; right:0; bottom:0}
.tab-content {border-top:10px solid #25aae1;}
.tab-panel {padding-left:90px}
.tab-panel li {border:1px solid #25aae1; border-width:1px 1px 0 1px; text-align:center; font-size:16px; text-transform:uppercase; margin-right:25px; cursor:pointer; -webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; border-radius:8px 8px 0 0; min-width:200px; background-color:#fff}
.tab-panel li a {color:#25aae1; padding:10px; display:block}

/* Visualizer module
**************************************/
.visualizer-module {padding-top:40px}
.image-article {width:400px; height:500px; -webkit-box-shadow: #666 0px 0px 20px;
-moz-box-shadow: #666 0px 0px 20px;
box-shadow: #666 0px 0px 20px;
behavior: url(PIE.htc); margin:0 auto; position:relative; padding:10px; text-align:center}
.image-article .img {max-width:400px; height:500px; }

/* Overlay
**************************************/
#overlay {border:1px solid #8d8d90; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; padding:10px; position:absolute; left:90px; top:-80px; background-color:#fff; z-index:999; min-width:370px; max-width:1000px; height:550px; display:none}
#overlay h1 {margin-bottom:5px}
.select-style, .select-fabric {width:350px;}
.tab-article {border-bottom:1px solid #b1b1b1; padding-bottom:0px}
.tab-article a {color:#6d6e71; font-weight:bold; font-size:12px; display:inline-block; line-height:28px}
.tab-article a.selected {text-decoration:underline}
.tab-btn {margin-bottom:-1px}
.tab-btn li {width:27px; height:27px; text-indent:-9999px; background:url(../images/sprite.png) -125px 0 no-repeat; cursor:pointer}
.tab-btn li a {display:block}
.tab-btn li.selected {border:1px solid #b1b1b1; border-bottom-color:#fff}
.tab-btn li.list-view {background-position:-168px 0}

.box-arrow {width:20px; height:28px; background:url(../images/sprite.png) -200px -38px no-repeat; display:inline-block; position:absolute; left:-18px; top:110px}
.box-drag {width:15px; height:170px; background:url(../images/sprite.png) right top no-repeat; display:inline-block; position:absolute; right:-13px; top:50%; margin-top:-85px; cursor:pointer}

.right-widget #overlay {right:90px; left:auto !important}
.right-widget .box-arrow {left:auto; right:-16px; background-position:-230px -39px; top:96px}
.right-widget .box-drag  {right:auto; left:-8px; background-position:-447px 0}

.tab-listing {clear:left;}
.listing-table {overflow:auto; height:450px; border:0px solid red; padding:10px 0px 0 5px}
.listing-table .listing {width:164px; height:210px; -webkit-box-shadow: #666 0px 0px 8px;
-moz-box-shadow: #666 0px 0px 8px;
box-shadow: #666 0px 0px 8px;
behavior: url(PIE.htc); text-align:center; background-color:#fff; margin:0 10px 10px 0}
.listing-table .listing.last {margin-right:0}
.listing-table .listing .img {height:200px; max-width:160px}

.pagination {clear:left; line-height:25px}
.pagination span.prev-arrow, .pagination span.next-arrow {width:20px; height:20px; background:url(../images/sprite.png) -205px 0 no-repeat; display:inline-block}
.pagination span.next-arrow {background-position:-228px 0}
.pagination span.prev-arrow a, .pagination span.next-arrow a  {display:block}

/* Select Fabric */
.select-fabric .listing-table .listing {padding:4px 3px; border:1px solid #c8c9cb; -webkit-box-shadow: #666 0px 0px 0px;
-moz-box-shadow: #666 0px 0px 0px;
box-shadow: #666 0px 0px 0px; background-color:#f3f3f4; height:128px; margin:0 10px 10px 0}
.select-fabric .listing-table .listing.last {margin-right:0 !important}
.select-fabric .listing-table .listing .img {width:160px; height:90px}
.select-fabric .info-icon, .select-fabric .color-icon, .select-fabric .catlg-icon {width:51px; height:40px; display:inline-block; background:url(../images/sprite.png) -275px 0 no-repeat; border-right:1px solid #c8c9cb; float:left}
.select-fabric .info-icon a, .select-fabric .color-icon a, .select-fabric .catlg-icon a {display:block; height:40px}
.select-fabric .color-icon {background-position:-328px 0}
.select-fabric .catlg-icon {background-position:-378px 0}

.select-fabric .listing-table.lsit-view .listing {width:315px; text-align:left; height:74px; margin-bottom:10px; border:0}
.select-fabric .listing-table.lsit-view .listing img.img {width:150px; height:70px}
.select-fabric .listing-table.lsit-view .listing .info {float:right}
.listing-table.lsit-view .listing h3.prd-title {height:28px; font-weight:normal; font-size:12px}

/* Select FAbric Full view
*******************************************************************************/
.select-fabric.fabric-fullview {width:1000px}
.select-fabric.fabric-fullview .listing-table .listing {width:23%; position:relative; height:200px}
.select-fabric.fabric-fullview .listing-table .listing .info {float:right; position:absolute; right:0; bottom:0}
.select-fabric.fabric-fullview .listing-table .listing img.img {height:200px; width:100%; max-width:100%}
.select-fabric .fabric-filter input, .select-fabric .fabric-filter select {width:125px; letter-spacing:0; padding:3px; color:#303031; font-size:12px; text-transform:uppercase}
.select-fabric .filter-fullview {display:none}
.select-fabric.fabric-fullview .filter-fullview {display:block}

.select-fabric.fabric-fullview .listing-table.lsit-view .listing {width:320px; height:140px; margin-bottom:10px; padding:0}
.select-fabric.fabric-fullview .listing-table.lsit-view .listing img.img {width:145px; height:140px}
.select-fabric.fabric-fullview .listing-table.lsit-view .listing .info {width:165px; float:right; height:135px; position:relative; font-size:11px; text-transform:uppercase; padding-top:5px; overflow:hidden}
.select-fabric .listing-table .listing .info .list-info {display:none}
.select-fabric.fabric-fullview .listing-table.lsit-view .listing .info .list-info{float:left; text-transform:capitalize; margin:0; padding:0 5px 5px 0; line-height:13px; display:block; letter-spacing:0;}
.select-fabric.fabric-fullview .listing-table.lsit-view .listing .info h3{color:#1e1a1b; height:18px}

/* Select Style Full view
*******************************************************************************/
.select-style.style-fullview {width:1000px}



/* popup module
*********************************/
.dialog {width:1100px; position:absolute !important}
.popup-module .product-img img.img {width:100%; height:420px}
.popup-module .halfwid {margin-bottom:10px}
.popup-module .fr.halfwid {width:48% !important}
.popup-module h1 {margin-bottom:10px}
.prd-info h3 {font-size:28px; font-weight:normal; margin:10px 0 15px 0}

.color-gallery li {margin:0 10px 10px 0}
.color-gallery img.img {width:130px; height:100px}

.prd-atrb li {background:url(../images/sprite.png) -492px -195px no-repeat; padding:0 0 0 15px}

#accordion {margin-top:20px; height:240px; margin-bottom:10px}
#accordion h3 {font-weight:normal; font-size:13px; background:url(../images/header_line2.gif) left bottom no-repeat; padding-bottom:3px; margin-bottom:3px; cursor:pointer}
#accordion h3 span {background:url(../images/plus_icon.png) 98% top no-repeat; display:block}
#accordion h3.ui-accordion-header-active span {background:url(../images/plus_icon.png) 98% -41px no-repeat}
#accordion .panel {height:80px; overflow:auto; text-transform:capitalize; letter-spacing:normal; font-size:12px}