/* CSS Document #C50E2D */
body
{
	font-family: 'Open Sans', sans-serif;
	background:#e6e6e6;
}
.red-navigation
{
	top:15px;
	background:#fff;
	border-radius:0px;
	margin-bottom:15px;
	border:none;
	border-bottom:1px solid #b40024;
}
.red-navigation .navbar-toggle
{
	 background-color: #C50E2D;
    border-color: #C50E2D;
}
.red-navigation .navbar-brand img
{
	top:0;
	position:absolute;
	z-index:99;
	
}
.red-navigation .navbar-nav > li > a:hover, .red-navigation .navbar-nav > li > a:focus
{
	color:#000;
}
.red-navigation .navbar-nav > li > a
{
	color:#000;
}
.red-navigation .navbar-nav > .active > a, .red-navigation .navbar-nav > .active > a:hover, .red-navigation .navbar-nav > .active > a:focus
{
	background:#C50E2D !important;
}
.red-navigation .collapse
{
	float:right !important;
}
.red-navigation .collapse.in
{
	float:none !important;
	margin-top:50px;
}
.red-navigation li.dropdown ul li a
{
	text-align:right;
}
.red-navigation li.dropdown ul li a span
{
	float:left;
}
.white-navigation
{
	position:relative;
	top:0px;
	background:#FFF;
	min-height:50px;
	line-height:50px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.20);
	-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.20);
	box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.20);
}
.white-navigation ul
{
	margin-bottom:0px;
}
.white-navigation ul li a b
{
	font-weight:normal;
}
.white-navigation ul li
{
	float:left;
	list-style:none;
	margin-right:20px;
}
.left-sidebar
{
	position:fixed;
	top:240px;
	z-index:99;
}
.left-sidebar ul
{
	padding:0px;
}
.left-sidebar li span
{
	display:block;
	font-size:24px;
}
.left-sidebar li b
{
	font-weight:normal;
	text-transform:uppercase;
	font-size:12px;
}
.left-sidebar li a
{
	padding:10px;
	display:block;
}
.left-sidebar li
{
	list-style:none;
	background:#FFF;
	border-left:4px solid #C50E2D;
	border-bottom:1px solid #a4a4a4;
	border-top:1px solid #a4a4a4;
	border-right:1px solid #a4a4a4;
	text-align:center;
	-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
line-height:15px;
margin-bottom:10px;
}

.right-sidebar
{
	position:fixed;
	top:250px;
	right:0px;
	z-index:99;
}
.right-sidebar ul
{
	padding:0px;
}
.right-sidebar li span
{
	display:block;
	font-size:24px;
}
.right-sidebar li b
{
	font-weight:normal;
	text-transform:uppercase;
	font-size:12px;
}
.right-sidebar li
{
	list-style:none;
	background:#FFF;
	border-right:4px solid #C50E2D;
	border-bottom:1px solid #a4a4a4;
	border-top:1px solid #a4a4a4;
	border-left:1px solid #a4a4a4;
	text-align:center;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	line-height:15px;
	margin-bottom:10px;
}
.right-sidebar li a
{
	padding:10px;
	display:block;
}

.main-content
{
	margin-top:20px;
	margin-bottom:50px;
}
.btn-custom {
    background-color: #C50E2D;
    border-color: #C50E2D;
    color: #fff;
	text-transform:uppercase;
}
.btn-custom:hover, .btn-custom:focus {
    background-color: #C50E2D;
    border-color: #C50E2D;
    color: #fff;
}
.search-top {
    margin: 0 auto;
    text-align: center;
}
.search-top.form-inline .form-group
{
	display:inline-flex;
}
.search-top .form-group label
{
	font-weight:normal;
	text-transform:uppercase;
	font-size:12px;
}
.search-top .form-group .form-control
{
	width:52px;
}
.search-top .form-group .form-control.input-big
{
	width:134px;
}
.main-content .panel
{
        margin: 0 20px;
	margin-top:20px;
}
.main-content .panel .panel-body
{
	padding:0px;
}

.width-100 {
    width: 100%;
}
.main-content .panel .panel-body
{
	position:relative;
}
.banner-text
{
	position:absolute;
	bottom:0px;
	background-color: rgba(0, 0, 0, 0.7);
	width:100%;
	padding:10px;
	text-align:center;
	z-index:99;
}
.banner-text .media
{
	display:inline-flex;
	margin-top:0px;
	text-align:left;
	margin-right:10px;
}
.banner-text .media .icon-left
{
	font-size:30px;
	color:#fff;
}
.banner-text .media .media-body h3
{
	margin-bottom:0px;
	margin-top:0px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
}
.banner-text .media .media-body p
{
	margin-bottom:0px;
	color:#fff;
}

.footer-main {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 999;
}
#surfaces-footer .owl-item .item a img {
    border: 1px solid #C50E2D;
    margin: 10px 5px;
}
.footer-main .tab-content {
    border-top: 10px solid #C50E2D;
}
.footer-main .tab-content .row {
    background: none repeat scroll 0 0 #f3f3f4;
}
.footer-main .nav-tabs {
    margin-left: 7.8%;
}
.footer-main .nav-tabs > li > a i {
    margin-right: 5px;
}
.footer-main .nav-tabs > li > a {
    background-color: #fff;
    border-color: #C50E2D #C50E2D rgba(0, 0, 0, 0) !important;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #C50E2D !important;
    font-size: 16px;
    margin-right: 10px;
    text-transform: capitalize;
}

.footer-main .nav-tabs > li.activetab > a, .footer-main .nav-tabs > li.activetab > a:hover, .footer-main .nav-tabs > li.activetab > a:focus {
    background-color: #C50E2D;
    border-color: #C50E2D #C50E2D rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
    cursor: default;
    font-size: 16px;
    text-transform: capitalize;
}
.color-circle {
    bottom: 5px;
    height: 25px;
    position: absolute;
    right: 5px;
    width: 25px;
}
#Surfaces .owl-item {
    padding: 5px;
}
#Surfaces .owl-item span {
    color: #7b7b7b;
    font-size: 11px;
    text-transform: uppercase;
}
#Surfaces .owl-item p {
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    display: block;
    font-size: 12px;
    left: 1px;
    padding: 5px;
    position: absolute;
    right: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    top: 1px;
}
#Surfaces .owl-item .item {
    position: relative;
}
#Surfaces .owl-item .item a {
    border: 1px solid #cbcbcb;
    border-radius: 0px;
    display: block;
    overflow: hidden;
    position: relative;
}


#Storyboard .owl-item {
    padding: 5px;
}
#Storyboard .owl-item span {
    color: #7b7b7b;
    font-size: 11px;
    text-transform: uppercase;
}
#Storyboard .owl-item p {
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    display: block;
    font-size: 12px;
    left: 1px;
    padding: 5px;
    position: absolute;
    right: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    top: 1px;
}
#Storyboard .owl-item .item {
    position: relative;
}
#Storyboard .owl-item .item a {
    border: 1px solid #cbcbcb;
    border-radius: 0px;
    display: block;
    overflow: hidden;
    position: relative;
}


#Catalogue .owl-item {
    padding: 5px;
}
#Catalogue .owl-item span {
    color: #7b7b7b;
    font-size: 11px;
    text-transform: uppercase;
}
#Catalogue .owl-item p {
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    display: block;
    font-size: 12px;
    left: 1px;
    padding: 5px;
    position: absolute;
    right: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    top: 1px;
}
#Catalogue .owl-item .item {
    position: relative;
}
#Catalogue .owl-item .item a {
    border: 1px solid #cbcbcb;
    border-radius: 0px;
    display: block;
    overflow: hidden;
    position: relative;
}
.info-circle button, .center-circle button, .end-circle button
{
	border:none;
	background:none;
}
.info-circle button span, .center-circle button span, .end-circle button span
{
	font-size:20px !important;
	color:#9b203e !important;
}
.info-circle
{
	bottom: 3px;
    height: 25px;
    position: absolute;
    right: 65px;
    width: 25px;
}
.center-circle
{
	bottom: 3px;
    height: 25px;
    position: absolute;
    right: 37px;
    width: 25px;
}
.end-circle{
    bottom: 3px;
    height: 25px;
    position: absolute;
    right: 5px;
    width: 25px;
}

.main-popup .modal-dialog
{
	width:85%;
}
.main-popup .modal-content
{
	box-shadow:none;
}
.main-popup .modal-header
{
	padding:12px 15px;
	border-bottom:none;
	padding-bottom:0px;
}
.main-popup .modal-header button
{
	margin-top:8px;
}
.main-popup .modal-header h4
{
	text-transform:uppercase;
	color:#9b203e;
	font-size:14px;
	margin-top:10px;
}
.main-popup .modal-body
{
	padding-top:0px;
}
.modal-backdrop.in
{
	opacity:0.20;
}
.five-col-img 
{
	padding:0px;
}
.five-col-img li
{
	width:20%;
	float:left;
	list-style:none;
	padding:10px;
}
.select-fabric-filter
{
	margin:10px 0;
}
.select-fabric-filter select, .select-fabric-filter input
{
	background:#f1f1f1;
	font-size:12px;
	font-weight:600;
	color:#9b203e;
	/*margin-bottom:5px;*/
}
.select-fabric-filter .icon-bttn
{
	vertical-align:bottom;
	margin-left:10px;
}
.select-fabric-filter .icon-bttn span
{
	font-size:24px;
}
.fabric-box {
    height: 165px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0 7.5px;
    position: relative;
}
.fabric-box img
{
	position:relative;
}
.fabric-box button
{
	position:absolute;
	z-index:99;
	right: 10px;
    top: 4px;
	background:#fff;
	border:none;
}
.fabric-box button span
{
	font-size:20px;
	color:#7f1b22;
}
.fabric-box .product-info-grid
{
	position:absolute;
	z-index:99;
	background-color: rgba(197, 14, 45, 0.8);
	bottom:0px;
	right:7px;
}
.fabric-box .product-info-grid ul
{
	padding:0px;
}
.fabric-box .product-info-grid li
{
	float:left;
	list-style:none;
	padding:10px;
}
.fabric-box .product-info-grid li.pro-color
{
	text-align:center;
}
.fabric-box .product-info-grid li h4
{
	margin:0px;
	color:#fff;
	font-size:11px;
}
.fabric-box .product-info-grid li p
{
	margin:0px;
	color:#fff;
	font-size:10px;
}
.fabric-box .product-info-grid li span
{
	color:#fff;
	font-size:24px;
}
#login-page input, #login-page textarea
{
	margin-bottom:10px;
}
#login-page label
{
	font-weight:normal;
}
.heading-bd
{
	font-size:18px;
	border-bottom:1px solid #f1f1f1;
	padding-bottom:8px;
	margin-bottom:15px;
        margin-top: 0px;
}
.total-price {
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    margin-top: 10px;
}
.total-price .col-md-6 {
    background-color: #ffffff;
    color: #792437;
    font-size: 21px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}
#cart-table-new .table-bordered td a {
    color: #000;
}

.footer-main .tab-content .tab-pane
{
	background:#f3f3f4;
}
.footer-main .tab-content .tab-pane h4
{
	margin:0px;
	padding:45px 0;
}
.cart-value-sm
{
	position:absolute;
	z-index:99;
	width:50px;
	right:10px;
	bottom:50px;
	border:1px solid #9b203e;
	text-align:center;
}
.main-popup .modal-dialog .product-info-grid .modal-dialog
{
	width:100%;
	margin:0px;
}
.product-info-popup .modal-body .col-md-6 #accordion .panel-default
{
	box-shadow:none;
	border-radius:0;
}
.product-info-popup .modal-body .col-md-6 #accordion .panel-heading
{
	color:#9b203e;
	font-size:14px;
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
	border-left:3px #9b203e solid;
}
.product-info-popup .modal-body .col-md-6 #accordion .panel-body .label
{
	margin-right:5px;
}
.product-options-grid .col-sm-2 {
    margin-bottom: 10px;
    max-height: 140px;
    overflow: hidden;
    padding: 0 7px;
}
.product-options-grid .col-sm-2 a img {
    width: 100%;
}
.storyboard-top
{
	padding:0px;
	clear:both;	
	
}
.storyboard-top li
{
	float: left;
    list-style: outside none none;
    margin-left: 10px;
	padding-top:10px;
	padding-bottom:10px;
}
.storyboard-top li a
{
	text-transform:uppercase;
}
.storyboard-top-right
{
	float:right;
}
.storyboard-top-right li
{
	display:inline;
	margin-right:10px;
}
.empty-page
{
	text-align:center;
	padding:50px 0;
}
.empty-page span
{
	font-size:36px;
	vertical-align:middle; margin-right:10px;
}
.custom-hide-heading a
{
	font-size:14px; text-transform:uppercase; color:#000;
}
.custom-hide-heading
{
	display:none;
}

.custom-hide-heading a.collapsed span {
    background: url("../images/plus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 21px;
    width: 21px;
}
.custom-hide-heading a span {
    background: url("../images/minus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 21px;
    width: 21px;
}
.btn
{
	margin-bottom:5px;
}
.customNavigation {
    position: absolute;
    right: 5px;
    text-align: right;
    top: -12px;
}
.customNavigation .btn
{
	padding:0 6px;
}
.customNavigation .btn span
{
	font-size:10px;
}




/*no changes required*/
#positionButtonDiv {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(58, 56, 63);
    /* RGBa with 0.6 opacity */
    background: rgba(58, 56, 63, 0.8);
    border: solid 1px #100000;
    color: #FFFFFF;
    padding: 8px;
    text-align: left;
    position: absolute;
    right: 35px;
    top: 190px;
	z-index:99999
}
#positionButtonDiv .positionButtonSpan img {
    float: right;
    border: 0;
}
.positionMapClass area {
    cursor: pointer;
}
.zoomButton {
    border: 0;
    cursor: pointer;
}
/*.zoomableContainer {
    background-image: url("../images/transparent.png");
}*/


#imgContainer {position: fixed; z-index: 9999; left: 20px; top:20px; background-color: #fff; padding:0; right:20px; bottom:20px}
.mask {background-color: #000; position: fixed; left:0; top:0; bottom:0; right:0; opacity: 0.8; filter:alpha(opacity=80); z-index: 8888}

.zoomContainer{
	z-index : 99999
}

.selected1{
    color: grey !important;
}
.cart-hide{
    display: none;
}
.display-none{
    display: none;
}
.select-fabric-view{
    display: none !important;
}
.visualizer{
	margin: 0 60px;
}
.fav-deactive{
    background: grey !important;
}
table th{
    background-color: #666 !important;
    color: #fff !important;
}
.stButton{
    display: none !important;
}
#canvas{
    margin: 0 auto;
    max-height: 400px;
    width: auto;
}
/*Loader*/
.ui-loader .ui-icon-loading {
    background-color: #000;
    border-radius: 2.25em;
    display: block;
    height: 2.75em;
    margin: 0;
    padding: 0.0625em;
    width: 2.75em;
}
.ui-icon-loading {
    background: url("../images/ajax-loader_1.gif") repeat scroll 0 0 / 2.875em 2.875em rgba(0, 0, 0, 0);
}

.ui-loading .ui-loader {
    display: block;
}
.ui-loader-default {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    height: 2.875em;
    margin-left: -1.4375em;
    margin-top: -1.4375em;
    opacity: 0.18;
    width: 2.875em;
}
.ui-loader {
    border: 0 none;
    display: none;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 9999999;
}
.currency-symbol{
    font-size: 10px;
    font-style: oblique;
    font-weight: bold;
}
.product-info-popup .modal-body .col-md-12 #accordion .panel-default
{
	box-shadow:none;
	border-radius:0;
}
.product-info-popup .modal-body .col-md-12 #accordion .panel-heading
{
	color:#9b203e;
	font-size:14px;
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
	border-left:3px #9b203e solid;
}
.product-info-popup .modal-body .col-md-12 #accordion .panel-body .label
{
	margin-right:5px;
}
.panel-heading a.collapsed span {
    background: url("../images/plus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 21px;
    width: 21px;
}
.panel-heading a span {
    background: url("../images/minus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 21px;
    width: 21px;
}

.message{
    margin-left:15px;
}
.success{
    color:green;
}
.message p{
    font-size: 16px;
    font-weight:1px;
    color:black;
}
.messageClose span{
    background: url("../images/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 21px;
    width: 21px;
    float: right;
}
