.stcokpopup{display:none; background-color:#C52633; color:#fff; padding: 2px 5px; font-weight:bold}
.tab-content-template{border-bottom:10px solid #B41E22;}
.footer .panel{ background-color:#f3f3f4 !important;}
.display-none{display:none !important;}
.maketabs.listing-table.search-filter.change-view .listing .info h3{display:none;}
.maketabs.listing-table.search-filter.change-view.lsit-view .listing .info h3{display:block;}
.canvasmsg{left: 40%;position: absolute;top: 50%;}
#validate-error{color: red}
.zoomContainer{z-index: 999999;}
.storyboard-div .listing-table .listing .listing-img img {
    max-width: 100%;
    min-height: 100%;
}
.bar-code {
    margin-top: 5px;
    padding: 8px;
    width: 80%;
}
