body{background:#fff;  font-size:14px; font-family:"Calibri",Myriad Pro,  Century Gothic, Arial; color: #777;}
@font-face {
    font-family: 'Conv_SWZ721KC_0';
    src: url('../fonts/SWZ721KC_0.eot');
    src: local('☺'), url('../fonts/SWZ721KC_0.woff') format('woff'), url('../fonts/SWZ721KC_0.ttf') format('truetype'), url('../fonts/SWZ721KC_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_CALIFB_0';
    src: url('../fonts/CALIFB_0.eot');
    src: local('☺'), url('../fonts/CALIFB_0.woff') format('woff'), url('../fonts/CALIFB_0.ttf') format('truetype'), url('../fonts/CALIFB_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*<!--Common Styles-->*/
#wrapper{width:1054px; margin:0 auto;}
.padding20{padding:20px;}
.colm-1{width:380px; float:left; display:block; padding: 0 15px 0 0; border-right:1px solid #d1d1d1}
.cream-buttom{background:url(../images/more-bg.jpg) 0 0 repeat-x; height:25px; line-height:25px; display:block; text-align:center; position:relative; margin-right:15px;}
.cream-buttom .text{margin:0 10px; display:block; color:#444444; font-size:13px; text-shadow:1px 1px 0px #fff;}
.cream-buttom .left-curve{background:url(../images/more-left.png) 0 0 no-repeat; width:13px; height:25px; display:block; position:absolute; top:0; left:-13px;}
.cream-buttom .right-curve{background:url(../images/more-right.png) 0 0 no-repeat; width:13px; height:25px; display:block; position:absolute; top:0; right:-13px;}

.grey-btn{background:url(../images/button-bg.png) 0 -2px repeat-x; height:29px; line-height:29px; display:block; color:#444444; text-shadow:1px 1px 0px #ddd; float:left; padding:0 20px; border:1px solid #a4a4a4; -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          -webkit-box-shadow: #b4b4b4 2px 2px 2px;
          -moz-box-shadow: #b4b4b4 2px 2px 2px;
          box-shadow: #b4b4b4 2px 2px 2px;
          behavior: url(PIE.htc); margin:5px; cursor:pointer;}

.mrg-t{margin-top:0; }
.mrg-b{margin-bottom:0; }
.mrg-n{margin:0; }
/*<!--Header Section-->*/
#header{height:100px; display:block;}
.logo a{background:url(../images/rathi_logo.png) 0 0 no-repeat; width:130px; height:70px; display:block; text-indent:-99999px; margin-top:10px;}

.menu{width:60%; display:block; height:100px;}
.menu-bar{float:right}
.menu-bar li a{height:70px; line-height:95px; padding:0 15px; display:block; background:#c0c0c0; color:white; font-size:14px; font-weight:bold; margin:0 1px; -webkit-border-radius: 0 0 15px 15px;
               -moz-border-radius: 0 0 15px 15px;
               border-radius: 0 0 15px 15px;
               behavior: url(PIE.htc);}
.menu-bar li a:hover, .menu-bar li a.active{background:#a88829;}

/*<!--Slider Section-->*/

/*<!--content-section-->*/

#content-section{width:100%; display:block; margin:15px 0;}
.main-content{width:730px; display:block; background:#f8f8f8; border:1px solid #cccccc; float:left; min-height:400px;}
.page-header, .widget-header{font-size:18px; font-weight:600; color:#905c08; text-transform:uppercase;}
.subheader{font-size:16px; color:#905c08; background:#eaeaea; padding:3px 10px; margin:30px 0 0; font-family: 'Conv_CALIFB_0';}
.testimonials{width:198px; height:210px; display:block; background:url(../images/testi-bg.png) 0 0 no-repeat; float:right; padding:25px 20px 0 65px;}
.testi-head{color:#905c08; font-size:20px; font-family:"Georgia", Times New Roman, Times, serif; font-weight:normal;}
.testimonials .grey-txt{color:#444444; font-size:12px; font-style:italic; font-family:"Georgia", Times New Roman, Times, serif;}
.testimonials .brown-txt{color:#905c08; font-size:12px; font-style:italic; font-family:"Georgia", Times New Roman, Times, serif;}


/*<!--contact-section-->*/
.contact-section{background:url(../images/contact-box.png) 0 0 no-repeat; padding:0 90px; display:block; -webkit-border-radius: 8px;
                 -moz-border-radius: 8px;
                 border-radius: 8px;
                 -webkit-box-shadow: #c5c5c5 1px 1px 1px;
                 -moz-box-shadow: #c5c5c5 1px 1px 1px;
                 box-shadow: #c5c5c5 1px 1px 1px;
                 behavior: url(PIE.htc); color:#6c6c6c; font-size:18px; border:1px solid #c4c4c4; height:47px; line-height:47px; margin: 40px 0 0;}
.contact-section a{color:#6c6c6c; font-size:18px;}
.contact{display:block; float:left; margin:10px; float:left;}
.number{font-family: 'Conv_SWZ721KC_0'; font-size:24px; font-weight:bold; color:#905c08;}


/*<!--sidebar-->*/
.sidebar{width:312px; display:block; float:right; min-height:400px;}
.form-emulator{padding:10px; position:relative; height:260px; background:url(../images/emulator.png) -2px -2px no-repeat;}
.right-emulator{background:url(../images/emulator-right.png) 0 0 no-repeat; width:56px; height:260px; position:absolute; right:-3px; top:-1px;}
.bottom-emulator{background:url(../images/emmu-bottom.png) 0 0 no-repeat; width:317px; height:20px; display:block; position:absolute; bottom:-11px; right:0; left:-2px;}
.form-section{width:100%; display:block;}
.form-section li{display:block; width:100%; height:38px;}
.text-fields{width:110px; height:23px; display:block; background:white; border:1px solid #aaaaaa; color:#444444; font-family:"Arial", Helvetica, sans-serif; font-size:12px; margin:5px; float:left; padding:0 10px;}

.news-form{background:#f0f0f0; -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
           border-radius: 5px;
           -webkit-box-shadow: #cbcbcb 1px 1px 1px;
           -moz-box-shadow: #cbcbcb 1px 1px 1px;
           box-shadow: #cbcbcb 1px 1px 1px;
           behavior: url(PIE.htc); border:1px solid #c4c4c4; padding:10px; margin:10px 0;}
.brown-button{-webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px; behavior: url(PIE.htc); color:#fee2a1; background:#905c08; height:28px; padding:0 10px; display:block; border:1px solid #d6b56b; margin:3px; float:right;}

#footer{background:url(../images/footer-bg.png) 0 0 no-repeat; height:210px; display:block;}
.footer-main{margin-top:50px; float:left; margin-left: 436px; margin-top: 100px;}
.links-section a{font-size:11px; color:white; font-family:"Arial", Helvetica, sans-serif; margin:0 20px; text-transform:uppercase;}
.links-section .copyrite{color:white; font-size:9px; margin-left: 20px; margin-top: 63px;}

.table-content tr th{background:#eaeaea; color:#666666; padding:5px 10px; font-size:13px; }
.table-content tr td{padding:5px 10px; text-align:center;}
.text-list li{background:url(../images/2.png) 7px 8px no-repeat; padding:3px 2px 3px 30px;}
.location-map{width:100%; border:3px solid #905C08; display:block; margin:20px 0;}
.location-map img{width:100%;}
/*Popup Module*/
.popModule{width:auto; background:#fff; -webkit-border-radius: 15px;
           -moz-border-radius: 15px;
           border-radius: 15px;
           -webkit-box-shadow: #666 0px 0px 40px;
           -moz-box-shadow: #666 0px 0px 40px;
           box-shadow: #666 0px 0px 40px;
           behavior: url(PIE.htc);}

.popModule .page-header{background:#EAEAEA; height: 40px;
                        line-height: 40px; display:block; -webkit-border-radius: 15px 15px 0 0;
                        -moz-border-radius: 15px 15px 0 0;
                        border-radius: 15px 15px 0 0; behavior: url(PIE.htc); text-indent:20px;}
.popModule .subheader{background:none; margin:0 0 20px 0;}
/* Popup module */
#mask {
    background-color: #000;
    display: none;
    left: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    z-index: 99999;
}
#boxes .window {
    display: none;
    left: 0;
    position: fixed;
    top: 50%;
    width: 500px;
    z-index: 9999999;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: #000 0px 0px 50px;
    -moz-box-shadow: #000 0px 0px 50px;
    box-shadow: #000 0px 0px 50px;
    behavior: url(PIE.htc);

}

#close {
    display: inline-block;
    float: right;
	position:absolute;
	right:-14px; top:-14px;
	
}

/* contact form */
.contact-form {
    float: left;
    width: 100%;
}
.contact-form li {
    float: left;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
}
.contact-form li label {
    float: left;
    width: 120px;
}
.submit-btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #000 1px 1px 3px;
    -moz-box-shadow: #000 1px 1px 3px;
    box-shadow: #000 1px 1px 3px;
    background: #05E905;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#05E905), to(#038103));
    background: -webkit-linear-gradient(#05E905, #038103);
    background: -moz-linear-gradient(#05E905, #038103);
    background: -ms-linear-gradient(#05E905, #038103);
    background: -o-linear-gradient(#05E905, #038103);
    background: linear-gradient(#05E905, #038103);
    -pie-background: linear-gradient(#05E905, #038103);
    behavior: url(PIE.htc); font-size:14px; font-weight:bold; color:#fff; text-shadow:1px 1px 0 #038103; border:1px solid #038103; padding:3px 10px; position:relative;
}
.textarea {
    width: auto;
}
.textfield, .textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA #DDDDDD #DDDDDD #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    width: 200px;
}
input {
    margin: 0;
    padding: 0;
}
.formError {
    position:absolute;
    top:-32px; left:300px;
    padding-bottom:13px;
    display:block;
    z-index:5000;
}
.formError .formErrorContent {
    width:100%; 
    background:#494949;
    color:#fff;
    width:170px;
    font-family:tahoma;
    font-size:11px;
    border:2px solid #ddd;
    box-shadow: 0px 0px 6px #000;
    -moz-box-shadow: 0px 0px 6px #000;
    -webkit-box-shadow: 0px 0px 6px #000;
    padding:4px 10px 4px 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.formError .formErrorArrow{
    position:absolute;
    bottom:0;left:20px;
    width:15px; height:15px;

    z-index:5001;
}
.formError .formErrorArrowBottom{top:0;margin:-6px;}

.formError .formErrorArrow div{
    border-left:2px solid #ddd;
    border-right:2px solid #ddd;
    box-shadow: 0px 2px 3px #444;
    -moz-box-shadow: 0px 2px 3px #444;
    -webkit-box-shadow: 0px 2px 3px #444;
    font-size:0px; height:1px; background:#494949;margin:0 auto;line-height:0px; font-size:0px; display:block;
}
.formError .formErrorArrowBottom div{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div{background:#33be40;}
.blackPopup .formErrorArrow div{background:#393939;color:#FFF;}

.formError .formErrorArrow .line10{width:15px;border:none;} 
.formError .formErrorArrow .line9{width:13px;border:none;} 
.formError .formErrorArrow .line8{width:11px;} 
.formError .formErrorArrow .line7{width:9px;} 
.formError .formErrorArrow .line6{width:7px;} 
.formError .formErrorArrow .line5{width:5px;} 
.formError .formErrorArrow .line4{width:3px;} 
.formError .formErrorArrow .line3{width:1px;
                                  border-left:2px solid #ddd;
                                  border-right:2px solid #ddd;
                                  border-bottom:0px solid #ddd;} 
.formError .formErrorArrow .line2{width:3px;border:none;background:#ddd;}
.formError .formErrorArrow .line1{width:1px;border:none;background:#ddd;}  

textarea {
    resize: none;
}