/*
-----------------------------------------------
Grey Box Method - Layout CSS
----------------------------------------------- */

body {
    background: #fff;
    color: #333;
    font-size: 11px;
    padding: 0 0 0px;
}


/* commons
----------------------------------------------- */
.fl{float:left;}
.floatleft{float:left; margin-top: -5px;}
.floatright{float:right;}
.fontwhite{color:#fff;}
.small{font-size:9px;}
.inline-ul li{display:inline; color:#fff;}
.marginleft10{margin-left:10px;}
.grey{color:#C2C2C2;}

/* anchors
----------------------------------------------- */
a {
    color: #000;
    font-weight:bold;
    text-decoration: none;
}
a:hover {
    color:#333;
}


/* 960 grid system container background
----------------------------------------------- */
.container_12,
.container_16 {
    background:#efefef;
}


/* headings
----------------------------------------------- */
h1, h2, h3, h4, h5, h6 {line-height:1.2em; margin-bottom:.3em;}
h2 {margin-top:1em;}

h6 {font-size:1em; text-transform:uppercase;}


h1 a {
    font-weight:normal;
}


/* branding
----------------------------------------------- */
#branding {
    font-weight:normal;
    text-align:left;
    /*padding:2em 1em 1.6em 1em;*/
    padding:10px 15px 3px 10px;
    margin-bottom:0;
}

.header-repeat{background:url(../img/black_ptn.png) repeat-x #000}

#branding a{color:#FDB924; font-weight:normal;}
#branding a:hover{color:#fff;}

#branding a:before{content:" | "; color:#fff;}

#branding ul, #branding ul li{margin:0px; padding:0px; }
#branding li{padding:0px 0px 0px 0px !important;}
.top-10{margin-top:-10px;}


/* page heading
----------------------------------------------- */
h2#page-heading {
    font-weight:normal;
    padding:.5em;
    margin:0 0 10px 0;
    border-bottom:1px solid #ccc;
    color:#fff;
}


/* boxes
----------------------------------------------- */
.box {
    background:#fff;
    margin-bottom:20px;
    padding:10px 10px 10px 10px; margin-left:-8px;
    min-height: 540px; border:1px solid #ccc
}
.box.grid{padding-bottom:40px;}
.box.round{
    -moz-border-radius: 5px 5px 0px 0px; /* Firefox */
    -webkit-border-radius: 5px 5px 0px 0px; /* Safari, Chrome */
    border-radius: 5px 5px 0px 0px; /* CSS3 */
}

.box h2 {
    font-size:1.5em;
    font-weight:bold;
    color:#1B548D;
    background:#E6F0F3;
    margin:-10px -10px 0 -10px;
    padding:20px 12px;
    border-bottom:1px solid #B3CBD6;

    -moz-border-radius: 5px 5px 0px 0px; /* Firefox */
    -webkit-border-radius: 5px 5px 0px 0px; /* Safari, Chrome */
    border-radius: 5px 5px 0px 0px; /* CSS3 */
}
.box h2 a,
.box h2 a.visible {
    color:#1B548D;
    background:url("../img/switch_minus.gif") 97% 50% no-repeat;
    display:block;
    padding:6px 12px;
    margin:-6px -12px;
    border:none;

    -moz-border-radius: 5px 5px 0px 0px; /* Firefox */
    -webkit-border-radius: 5px 5px 0px 0px; /* Safari, Chrome */
    border-radius: 5px 5px 0px 0px; /* CSS3 */

}
.grid_4 .box h2 a {
    background-position: 97% 50%;
}
.grid_5 .box h2 a {
    background-position: 98% 50%;
}
.grid_12 .box h2 a {
    background-position: 99% 50%;
}


.box h2 a.hidden,
.box h2 a.hidden:hover {
    background-image: url("../img/switch_plus.gif");
}
.box h2 a:hover {
    background-color:transparent;
}

.box.first{}

.block {
    padding-top:20px;
}
div.menu {
    padding:0;
}
div.menu h2 {
    margin:0;
}
div.menu .block {
    padding-top:0;
}


/* sidebar menu
----------------------------------------------- */

.box.sidemenu{ background-color:#D1DEE4; border-right:1px solid #3A5665; padding:0px; margin:0px; cursor:pointer; }
.box.sidemenu .block{padding-top:0px; margin-top:0px;}

/* paragraphs, quotes and lists
----------------------------------------------- */
p {

    margin-bottom:1em;
}

.error{
    color:red;
}
blockquote {
    font-family: Georgia, 'Times New Roman', serif;
    font-size:1.2em;
    padding-left:1em;
    border-left:4px solid #ccc;
}
blockquote cite {
    font-size:.9em;
}
ul, ol {
    padding-top:0;
}


/* menus
----------------------------------------------- */
ul.menu {
    list-style:none;
    border-top:1px solid #bbb;
}
ul.menu li {
    margin:0;
}
ul.menu li a {
    display:block;
    padding:4px 10px;
    border-bottom:1px solid #ccc;
}
ul.menu li a:hover {
    background:#eee;
}
ul.menu li a:active {
    background:#ccc;
}


/* submenus
----------------------------------------------- */
ul.menu ul {
    list-style:none;
    margin:0;
}
ul.menu ul li a {
    padding-left:30px;
}


/* section menus
----------------------------------------------- */
ul.section {
    border-top:0;
    margin-bottom:0;
}
ul.section li {

}
ul.section li a {
    background:url(../img/sidemenu-repeat.jpg) repeat-x;
    line-height:26px;
}
ul.section li a:hover {
    background:url(../img/sidemenu-repeat-hover.jpg) repeat-x;
}
ul.section li a:active {
    color:#1B548D;
    background:url(../img/sidemenu-repeat-hover.jpg) repeat-x;
}
ul.section li li a {
    background:#ddd;
    border-bottom:1px solid #eee;
}
ul.section li li a:hover {
    background:#ccc;
}
ul.section li li a:active {
    color:#000;
    background:#fff;
}
ul.section ul li {
    text-transform:none;
}
ul.section ul.current li a {
    background:#eee;
    border-bottom:1px solid #fff;
}
ul.section ul.current li a:hover {
    background:#E6F0F3;
}
ul.section ul.current li a:active {
    background:#E6F0F3;
}
ul.section li a.current {
    color:#1B548D;
    background:url(../img/sidemenu-repeat-hover.jpg) repeat-x;
}
ul.section li a.current:hover {
    color:#1B548D;
    background:url(../img/sidemenu-repeat-hover.jpg) repeat-x;
}
ul.section li a.current:active {
    color:#1B548D;
    background:url(../img/sidemenu-repeat-hover.jpg) repeat-x;
}
ul.section li a.active {
    background:#fff;
    cursor:default;
}
ul.section li.current > a.active,
ul.section li.current > a.active:hover {
    color:#fff;
    background:#666;
    cursor:default;
}


/* table
----------------------------------------------- */
table.form {
    width:100%;
}
.form.order{width: 45%; float:left; margin-left:50px; margin-bottom:30px;}
.form.order td{border:none !important;}
.form.order td label{text-transform:capitalize;}
table.form td {
    padding:4px 0px;
}
table.form label {
    font-weight:bold;
}

table.form .col1{width:20%}
table.form .col2{}
table.form input, table.form select{

    padding: 4px 4px 5px 4px;


    border-top: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;

}
table.form tr td {border-bottom:1px dotted #ccc}

input.mini{width: 30%;	}
table.form input.mini{width: 30%; background-color:#f8f8f8}

input.medium
{
    width: 55%;	
}

input.large
{
    width: 85%;	
}

input.date
{
    width: 180px;	
}

input.button
{
    margin: 0;
    padding: 4px 8px 4px 8px;
    background: #D4D0C8;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #404040;
    border-bottom: 1px solid #404040;
    color: #000000;
}


input.error
{
    background: #FBE3E4;
    border-top: 1px solid #e1b2b3;
    border-left: 1px solid #e1b2b3;
    border-right: 1px solid #FBC2C4;
    border-bottom: 1px solid #FBC2C4;
}

input.success
{
    background: #E6EFC2;
    border-top: 1px solid #cebb98;
    border-left: 1px solid #cebb98;
    border-right: 1px solid #c6d880;
    border-bottom: 1px solid #c6d880;
}

input.warning
{
    background: #fff3b3;
    border-top: 1px solid #cebb98;
    border-left: 1px solid #cebb98;
    border-right: 1px solid #c6d880;
    border-bottom: 1px solid #c6d880;
}

span.error
{
    margin: 8px 0 0 0;
    padding: 0;
    height: 1%;

    color: #FF0000;
}

span.success
{
    margin: 8px 0 0 0;
    padding: 0;
    height: 1%;

    color: #7b912b;
}

label.error
{
    margin: 8px 0 0 0;
    padding: 0;
    height: 1%;
    display: block;
    color: #FF0000;
}





/* site information
----------------------------------------------- */
#site_info {
    color:#fff;
    background:#3B486B;
    border-top:1px solid #3B486B;
    padding-left:20px;
    position:relative; z-index: 1

}

#site_info p{line-height:35px; margin-bottom:0px;}
#site_info a {
    color:#FDB924;
}
#site_info a:hover {
    color:#FDB924;
}


/* AJAX sliding shelf
----------------------------------------------- */
#loading {float:right; margin-right:14px; margin-top:-2px;}
.block {padding-bottom:1px; /* background-color:red; margin-left:-10px; padding-left:10px;*/}


/* Accordian
----------------------------------------------- */
.toggler {
    color: #222;
    margin: 0;
    padding: 2px 5px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    font-size:1.1em;
    font-weight: normal;
}
.element h4 {
    margin: 0;
    padding:4px;
    line-height:1.2em;
}
.element p {
    margin: 0;
    padding: 4px;
}
.float-right {
    padding:10px 20px;
    float:right;
}

#accordian-block {
    padding-bottom:10px;
}


/* Mootools Kwicks
----------------------------------------------- */
#kwick-box { 
    padding:0;
    overflow:hidden;
}
#kwick-box h2 { 
    margin:0;
}
#kwick {
    position: relative;
}
#kwick .kwicks {
    display: block;
    background: #999;
    height: 120px;
    list-style:none;
    margin:0;
    overflow:hidden;
}
#kwick li {
    float: left;
    margin:0;
    padding:0;
}
#kwick .kwick {
    display: block;
    cursor: pointer;
    overflow: hidden;
    height: 100px;
    width: 215px;
    padding: 10px;
    background: #fff;
}
#kwick .kwick span {
    color:#fff;
}
#kwick .one {
    background: #666;
}
#kwick .two {
    background: #777;
}
#kwick .three {
    background: #888;
}
#kwick .four {
    background: #999;
}


.stat-col{float:left; margin:0px; margin-right:30px;}
.stat-col span{font-weight:bold; font-size:1.1em; font-family:Helvetica Neue, Arial;}
.stat-col p{font-family:Helvetica Neue, Arial; font-size:3em; color:#fff; font-weight:bold; text-shadow: 1px 1px 0px rgba(27, 27, 27, 0.4);; filter: dropshadow(color=#1b1b1b, offx=1, offy=1) /* IE */
                -moz-border-radius: 4px; /* Firefox */
            -webkit-border-radius: 4px; /* Safari, Chrome */
            border-radius: 4px; /* CSS3 */
            line-height:1.1em;
            padding:4px 12px; 
            margin-bottom:10px;
            margin-top:4px;
}


.stat-col p.purple{


    background-color: #47196e;
    background: -webkit-gradient(linear, left top, left bottom, from(#a072c7), to(#47196e)); 
    background: -webkit-linear-gradient(top, #a072c7, #47196e); 
    background:    -moz-linear-gradient(top, #a072c7, #47196e); 
    background:     -ms-linear-gradient(top, #a072c7, #47196e); 
    backgroun:      -o-linear-gradient(top, #a072c7, #47196e); 
    background:         linear-gradient(top, #a072c7, #47196e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a072c7', EndColorStr='#47196e'); 


}

.stat-col p.yellow{
    background-color:#ffb400;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc22e), to(#d19400)); 
    background-image: -webkit-linear-gradient(top, #ffc22e, #d19400); 
    background-image:    -moz-linear-gradient(top, #ffc22e, #d19400); 
    background-image:     -ms-linear-gradient(top, #ffc22e, #d19400); 
    background-image:      -o-linear-gradient(top, #ffc22e, #d19400); 
    background-image:         linear-gradient(top, #ffc22e, #d19400);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffc22e', EndColorStr='#d19400'); 

}
.stat-col p.darkblue{

    background-color: #163247;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5d798e), to(#163247)); 
    background-image: -webkit-linear-gradient(top, #5d798e, #163247); 
    background-image:    -moz-linear-gradient(top, #5d798e, #163247); 
    background-image:     -ms-linear-gradient(top, #5d798e, #163247); 
    background-image:      -o-linear-gradient(top, #5d798e, #163247); 
    background-image:         linear-gradient(top, #5d798e, #163247);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5d798e', EndColorStr='#163247'); 

} 

.stat-col p.green{

    background-color: #5c8000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a3c747), to(#5c8000)); 
    background-image: -webkit-linear-gradient(top, #a3c747, #5c8000); 
    background-image:    -moz-linear-gradient(top, #a3c747, #5c8000); 
    background-image:     -ms-linear-gradient(top, #a3c747, #5c8000); 
    background-image:      -o-linear-gradient(top, #a3c747, #5c8000); 
    background-image:         linear-gradient(top, #a3c747, #5c8000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a3c747', EndColorStr='#5c8000'); 

}
.stat-col p.blue{

    background-color: #074676;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d8cbc), to(#074676)); 
    background-image: -webkit-linear-gradient(top, #4d8cbc, #074676); 
    background-image:    -moz-linear-gradient(top, #4d8cbc, #074676); 
    background-image:     -ms-linear-gradient(top, #4d8cbc, #074676); 
    background-image:      -o-linear-gradient(top, #4d8cbc, #074676); 
    background-image:         linear-gradient(top, #4d8cbc, #074676);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d8cbc', EndColorStr='#074676'); 

}
.stat-col p.red{

    background-color: #a40312;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ea4958), to(#a40312)); 
    background-image: -webkit-linear-gradient(top, #ea4958, #a40312); 
    background-image:    -moz-linear-gradient(top, #ea4958, #a40312); 
    background-image:     -ms-linear-gradient(top, #ea4958, #a40312); 
    background-image:      -o-linear-gradient(top, #ea4958, #a40312); 
    background-image:         linear-gradient(top, #ea4958, #a40312);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ea4958', EndColorStr='#a40312'); 

}

.stat-col.last{margin-right:0px;}



/* -----------------------------------------------------------
        images
----------------------------------------------------------- */

img.left
{
    margin: 10px 10px 10px 0;
    border: none;
    float: left;
}

img.right
{
    margin: 10px 0 10px 10px;
    border: none;
    float: right;
}

.fullpage{margin-left:0px;}


/* form */

.table-form{}



/* PrettyPhoto styling */




.prettygallery{ margin-top:10px; }
.prettygallery li{display:inline; padding:0px 70px 40px 10px; margin:0px;  float:left; }
.prettygallery img {

    box-shadow:0px 0px 5px #ccc;
    -moz-box-shadow:0px 0px 5px #ccc;
    -webkit-box-shadow:0px 0px 5px #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:5px;
    background:#fff;

}





/* Data Tables */


.dataTables_info,
.dataTables_paginate { margin-bottom: 3em; }

.dataTables_wrapper {
    position: relative;
    min-height: 302px;
    clear: both;
    _height: 302px;
    zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
    margin-bottom: 1em;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
    margin-bottom: 1em;
}

.dataTables_info {
    width: 60%;
    float: left;
    margin-top: 1em; 
}

.dataTables_paginate {

    float: right;
    text-align: right;
    margin-top: 1em;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    height: 19px;
    width: 19px;
    margin-left: 3px;
    float: left;
    cursor: pointer;
}

.paginate_disabled_previous {
    background-color:#ddd
}

.paginate_enabled_previous {
    background-color:#3b486b
}

.paginate_disabled_next {
    background-color:#ddd
}

.paginate_enabled_next {
    background-color:#3b486b
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
*/
table.display {
    margin: 0 auto;
    clear: both;
    width: 100%;

    /* Note Firefox 3.5 and before have a bug with border-collapse
     * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
     * border-spacing: 0; is one possible option. Conditional-css.com is
     * useful for this kind of thing
     *
     * Further note IE 6/7 has problems when calculating widths with border width.
     * It subtracts one px relative to the other browsers from the first column, and
     * adds one to the end...
     *
     * If you want that effect I'd suggest setting a border-top/left on th/td's and 
     * then filling in the gaps with other borders.
    */
}

table.display th{ /* background:#8f8f8f;   */ cursor: pointer;}

table.display tr td{}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
*/


.sorting_asc {
    background: #8f8f8f url(../img/table/sort_asc.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}

.sorting_desc {
    background: #8f8f8f url(../img/table/sort_desc.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}

.sorting {
    background:#8f8f8f   url(../img/table/sort_both.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}

.sorting_asc_disabled {
    background: #8f8f8f url(../img/table/sort_asc_disabled.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}

.sorting_desc_disabled {
    background: #8f8f8f url(../img/table/sort_desc_disabled.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}




/*tr.odd {
          height: 30px;
line-height: 30px; border-bottom:1px solid #e6e6e6; 
}

tr.even {height: 30px;
line-height: 30px; border-bottom:1px solid #e6e6e6;}
tr.odd:hover, tr.even:hover { background:#f6f6f6; }
tr.odd td, tr.even td{ padding-left:5px}
*/
.clear {
    clear: both;
}

.dataTables_empty {
    text-align: center;
}

tfoot { display: none; }
tfoot input {
    margin: 0.5em 0;
    width: 100%;
    color: #444;
}

tfoot input.search_init {
    color: #999;
}

td.group {
    background-color: #d1cfd0;
    border-bottom: 2px solid #A19B9E;
    border-top: 2px solid #A19B9E; 
}

td.details {
    background-color: #d1cfd0;
    border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
    width: 40%;
}

.paging_full_numbers {
    width: 400px;
    height: 22px;
    line-height: 22px;
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
}

.paging_full_numbers span.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
    background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
    background-color: #99B3FF;
}


/* Buttons */

.btn,
.btn-icon,
.btn-mini
{
    background-repeat: repeat-x;
    color: #FFF;	
    font-weight: bold;
    display: inline-block;	
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    padding: 0 15px 4px;
    *padding: 0 7px 4px;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    position: relative;
}

/* Active/Click state */
.btn:active, .btn-icon:active, .btn-mini:active { top: 1px; }


/* Sizes */
.btn, .btn-icon { background-position: 0 -80px; font-size: 12px; height: 32px; line-height: 29px; }
.btn.btn-small, .btn-icon.btn-small { background-position: 0 0; font-size: 10px; height: 26px; line-height: 23px; }
.btn.btn-large, .btn-icon.btn-large { background-position: 0 -160px; font-size: 15px; height: 42px; line-height: 40px; }

/* Sizes - Line height for A buttons need to be different */
a.btn, a.btn-icon { height: 32px; line-height: 32px; padding-bottom: 0; }
a.btn.btn-small, a.btn-icon.btn-small { line-height: 26px; padding-bottom: 0; }
a.btn.btn-large, a.btn-icon.btn-large { line-height: 42px; padding-bottom: 0; }


/* Fix the button in IE7 :-( */
*+html .btn, *+html .btn-icon { border-color: none ; border: 1px solid transparent; }



/* Set default button colors */
.btn, .btn-icon, .btn-mini,
.btn:visited, .btn-icon:visited, .btn-mini:visited { /* background-image: url(../img/bg-lite.png); background-color: #F90; border-color: #D58000;*/ color: #FFF; }

tr.odd:hover .btn-mini, tr.even:hover .btn-mini {background-color: #999; border-color: #888; color: #FFF}
.btn:hover, .btn-icon:hover, .btn-mini:hover { background-color: #F90 !important; color: #FFF; }

input.btn.btn-blue {padding:0 10px}
.btn-blue,
.btn-blue:visited { background-color: #066ECD; border-color: #0561B4; }
.btn-blue:hover { background-color: #0561B4}

.btn-black,
.btn-black:visited { background-color: #111; border-color: #000; }
.btn-black:hover { background-color: #000; }

table.display .btn-black,
table.display .btn-black:visited { background:transparent; border:0}
table.display .btn-black:hover { background-color: none }

/* Colors */	
/*.btn-pink,
.btn-pink:visited { background-color: #FF0066; border-color: #DA0C59; }
.btn-pink:hover { background-color: #DA0C59; }

.btn-blue,
.btn-blue:visited { background-color: #066ECD; border-color: #0561B4; }
.btn-blue:hover { background-color: #0561B4; }

.btn-red,
.btn-red:visited { background-color: #E40001; border-color: #CC0000; }
.btn-red:hover { background-color: #CC0000; }

.btn-green,
.btn-green:visited { background-color: #77B32F; border-color: #689C29; }
.btn-green:hover { background-color: #689C29; }

.btn-black,
.btn-black:visited { background-color: #111; border-color: #000; }
.btn-black:hover { background-color: #000; }

.btn-purple,
.btn-purple:visited { background-color: #7B0F75; border-color: #6A0D66; }
.btn-purple:hover { background-color: #6A0D66; }

.btn-navy,
.btn-navy:visited { background-color: #002142; border-color: #00172F; }
.btn-navy:hover { background-color: #00172F; }

.btn-maroon,
.btn-maroon:visited { background-color: #750000; border-color: #530000; }
.btn-maroon:hover { background-color: #530000; }

.btn-yellow,
.btn-yellow:visited { background-color: #FFCC00; border-color: #D9AD01; }
.btn-yellow:hover { background-color: #D9AD01; }

.btn-teal,
.btn-teal:visited { background-color: #39A7B6; border-color: #2E8794; }
.btn-teal:hover { background-color: #2E8794; }

.btn-orange,
.btn-orange:visited { background-color: #F90; border-color: #D58000; color: #FFF; }
.btn-orange:hover{ background-color: #D58000; color: #FFF; }

.btn-grey,
.btn-grey:visited  { background-color: #999; border-color: #888; color: #FFF; }
.btn-grey:hover{ background-color: #888; color: #FFF; }
*/

/* Images Overlays - Gradient Effect */
/* 50% Opacity for darker colors */
.btn-blue,
.btn-black,
.btn-purple,
.btn-navy,
.btn-maroon,
.btn-teal,
.btn-grey { background-image: url(../img/bg-dark.png) !important; }


/* 65% opacity for lighter colors */
.btn-red,
.btn-orange,
.btn-green,
.btn-yellow,
.btn-pink { background-image: url(../img/bg-lite.png) !important; }



/* Icon Button Styles */
.btn-icon { padding-left: 32px !important; }
*+html .btn-icon { padding-left: 20px !important; padding-right: 5px !important; }

.btn-icon span
{
    background-image: url(../img/btn-icons.png); 
    background-repeat: no-repeat; 
    background-position: 0 0; 
    width: 16px; 
    height: 16px; 
    position: absolute; 
    left: 6px; 
    top: 6px;
}

.btn-icon.btn-small span { top: 4px; }
.btn-icon.btn-large span { top: 12px; }
@-moz-document url-prefix() { .btn-icon span { left: -24px; top: 0px; } .btn-icon.btn-small span { top: -1px; } .btn-icon.btn-large span { top: 4px; } } 


/* Mini Buttons */
.btn-mini 
{ 
    background-position: 0 0; 
    width: 32px; 
    height: 26px !important; 
    line-height: 500px !important; 
    overflow: hidden;
    padding: 0; 
    margin-top: 10px;
}
.btn-act
{ 
    background-position: 0 0; 
    width: 32px; 
    height: 26px !important; 

    overflow: hidden;
    padding: 0; 
    margin-top: 10px;
    cursor: pointer;
}
.btn-mini span 
{ 
    background-image: url(../img/icons_sprite.png); 
    background-repeat: no-repeat; 
    display: block;
    width: 20px; 
    height: 20px;
    line-height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
}


/* Icon Classes */
.btn-arrow-down span { background-position: -48px 0; }
.btn-arrow-up span { background-position: -32px 0; }
.btn-arrow-right span { background-position: -16px 0; }
.btn-arrow-left span { background-position: 0 0; }
.btn-comment span { background-position: -112px 0; }
.btn-heart span { background-position: -96px 0; }
.btn-star span { background-position: -80px 0; }
.btn-cart span { background-position: -64px 0; }
.btn-print span { background-position: -128px 0; }
.btn-rss span { background-position: -144px 0; }
.btn-person span { background-position: 0 -16px; }
.btn-check span { background-position: -16px -16px; }
.btn-dollar span { background-position: -32px -16px; }
.btn-refresh span { background-position: -48px -16px; }
.btn-home span { background-position: -64px -16px; }
.btn-plus span { background-position: 0 -3px; }
.btn-minus span { background-position: -96px -16px; }
.btn-cross span { background-position: -29px -4px; }
.btn-edit span { background-position: -54px -5px }	
.btn-report span { background-position: -107px -6px }
.btn-active span { background-position: -127px -6px }
.btn-deactive span { background-position: -152px -6px }	
/* Transparent Button Styles */
.btn-transparent, .btn-transparent:hover { background-image: url(../img/bg-lite.png); background-color: transparent; filter: none; border-color: transparent\0/; border-color: rgba(0,0,0,.4) !important; margin: 0 1em 0 0; }
*+html .btn-transparent { border: none; }


/*  Notifications */

.message {
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
}
.message h3 {
    margin-top: 0;
}
.message p {
    margin-bottom: 0;
}

.message.info {
    border: 1px solid #cadcea;
    background: #e1f2fc;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1f2fc), to(#cae9fd));
    background: -moz-linear-gradient(top,  #e1f2fc,  #cae9fd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f2fc', endColorstr='#cae9fd');
    color: #225b86;
    text-shadow: 0 1px 0 #fff;
}

.message.error {
    border: 1px solid #eeb7ba;
    background: #fae2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#fae2e2), to(#f2cacb));
    background: -moz-linear-gradient(top,  #fae2e2,  #f2cacb);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2', endColorstr='#f2cacb');
    color: #be4741;
    text-shadow: 0 1px 0 #fff;
}

.message.success {
    border: 1px solid #b8c97b;
    background: #e5edc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
    background: -moz-linear-gradient(top,  #e5edc4,  #d9e4ac);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
    color: #3f7227;
    text-shadow: 0 1px 0 #fff;
}

.message.warning {
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffc0), to(#f9ee9c));
    background: -moz-linear-gradient(top,  #ffffc0,  #f9ee9c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc0', endColorstr='#f9ee9c');
    color: #6d7829;
    text-shadow: 0 1px 0 #fff;
}

.gallery-sand .sorting{background-color:white !important;}


.table-module th, .datatable th {background-color:#8F8F8F; color: #FFFFFF;
                                 padding: 8px 5px;
                                 text-align: left;}

.table-module tr, .datatable tr {
    height: 30px;
    line-height: 30px; border-bottom:1px solid #e6e6e6; 
}

.datatable tr, .table-module tr {
    height: 30px;
    line-height: 30px; border-bottom:1px solid #e6e6e6;
}
.table-module tr:hover, .datatable tr:hover { background:#f6f6f6; }
.table-module tr td, .datatable tr td{ padding-left:5px; }
.warning{color: red; font-size: 10px;}
.red {color:red}
.addCatg-article {border:1px solid #ddd; border-width:1px 0; padding:10px; margin:0 0 10px 0; background-color:#f8f8f8}
.addCatg-article input.mini {background-color: #fff; 
                             padding: 4px 4px 5px 4px;
                             border-top: 1px solid #b3b3b3;
                             border-left: 1px solid #b3b3b3;
                             border-right: 1px solid #eaeaea;
                             border-bottom: 1px solid #eaeaea; width:200px; margin:0 0 0 10px}
.addCatg-article {text-align:left}

h2 .down-xls {float:right; padding:0 15px 0 0; font-size:12px; line-height: 32px; width:140px}
h2 .down-xls a {background-image: none; display:inline-block; float: right}

.dashboard-content {}

.error-left {
    float:left;
    width:13px;
    height:32px;
    margin-left: 5px;
    background: url(../../admin/img/error_left.gif) no-repeat;
}

.error-inner {
    float:left;
    padding: 7px 10px 0 4px;
    color:#fff; 
    line-height: 14px;
    height:25px;
    background: url(../../admin/img/error_right.gif) right  no-repeat;
}
.deactive{background-color: #F6F6F6; color:#ccc}
.pdf-img{color:gray;font-weight: bold;}
.sorting.sort{background-image: none;}
.deactiveRow{background-color: lightgray; }
.btn-mini.btn-black.btn-send-to-all span{background:url(../img/send-to-all.png) 0 0 no-repeat;    height: 26px;
    left: 0;
    margin: 0;
    top: 0;
    width: 32px;}