/*
-----------------------------------------------
Navigation
----------------------------------------------- */

body
{
	font-family:Arial, Helvetica, sans-serif; font-size:12px
}

h1
{
	font-size: 25px;
}

h2
{
	font-size: 23px;
}

h3
{
	font-size: 21px;
}

h4
{
	font-size: 19px;
}

h5
{
	font-size: 17px;
}

h6
{
	font-size: 15px;
}

ul.makelist {list-style:none; padding:0; margin:0}
ul.maketabs li {float:left; display:inline}

.menu-article {background-color:#333; line-height:30px; font-size:12px; padding:5px 0 0 0; position:absolute; left: 0; top:80px; bottom:0; z-index: 1}
.grid_12.menu-article {width:200px; float:left}
.menu-article .menu-module {padding:0; margin:0}
.menu-module li.main-btn {position:relative}
.menu-module li.main-btn a {color:#fff; padding:0 10px 0 20px; display:block}
.menu-module li.main-btn:hover {background-color:#FDB924}
.menu-module li.main-btn .select_sub {position:absolute; width:200px; width:100%; display:none; z-index:9999; width:auto; min-height:30px; font-size:11px; text-transform:uppercase; color:#fff; left:200px; top:0; background-color:#FDB924; min-width:180px}
.menu-module li.main-btn .select_sub a {color:#e4eff8; display:block; padding:5px 10px; line-height:25px}
.menu-module li.main-btn .select_sub li {width:100%; float:left}
.menu-module li.main-btn .select_sub a:hover {background-color:#FDB924}
.menu-module li.main-btn:hover .select_sub {display:block}
.nav-bg {background-color:#FDB924; height:75px; width:100%; float:left}